<% title "Newshubby | Introduce yourself" %>


<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 hidden-xs text-center">
		</div>
		<div class="col-sm-6 text-center hubertBasic">
			<div class="numerals intNumerals"><h4><%= @step_number %>/<%= @steps_max %></h4></div>
			<h4>Please introduce the company</h4>
			<br>
			<%= render :layout => "form" do |f| %>
			
				<%= f.text_field :company_name, placeholder: "Company name" %> was founded in <%= f.date_select :founded, order: [:month, :year] %> and our main location is in <%= f.text_field  :location, placeholder: "City, Country" %>. You can find us at <%= f.text_field :website, placeholder: "example.com", size: 40 %> and follow us at <%= f.text_field :twitter, placeholder: "@twitter" %>. For press inquiries contact us on <%= f.text_field :press_email, size: 35, placeholder: "press contact email address" %>, or via phone <%= f.text_field  :press_phone, placeholder: "+1 (555) 606-0842" %>
			<br><br>
			<div class="row">
				<div class="col-xs-4">
					<%= link_to previous_wizard_path, title: "Previous step", class: "btn btn-default pull-left" do %>
						<span class="glyphicon glyphicon-arrow-left"></span> 
					<% end %>
				</div>
				<div class="col-xs-4">
					<div class="center-block" id="textareaFeedback">
					</div>
				</div>
				<div class="col-xs-4">
					<%= button_tag type: "f.submit", title: "Save & Continue", class: "btn btn-success pull-right", id: "nextButton" do %><span class="glyphicon glyphicon-arrow-right"></span>
					<% end %>
					<% end %>
				</div>
			</div>
		</div>
		</div>
<br>
<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center intExample" id="intExample">
		</div>
	</div> <!-- /.row -->
</div> <!-- / .container -->
