<% title "Newshubby | Interview" %>

<div class="container">
	<div class="row">
		<div class="col-sm-3 hidden-xs text-center">
								<div class="intHelp" id="hubert"><h1 class="omnes">?</h1></div>

		</div>
		<div class="col-sm-6 text-center">
			<div class="numerals intNumerals"><h4><%= @step_number %>/<%= @steps_max %></h4></div>
			<h4>How does <%= @newsroom.company_name %> differ from its competitors? </h4>
			<br>
			<%= render :layout => "form" do |f| %>
			
			<% if @newsroom.differentiation.blank? %>
			<%= f.text_area :differentiation, rows: 6, id: "textarea", class: "form-control", onfocus: "this.value = this.value;", max: 400, value: "The difference between #{@newsroom.company_name} and its competitors is " %>
			<% else %>
			<%= f.text_area :differentiation, rows: 6, id: "textarea", class: "form-control", onfocus: "this.value = this.value;", max: 400 %>
			<% end %>
			<br>
			<div class="row">
				<div class="col-xs-4">
					<%= link_to previous_wizard_path, title: "Previous step", class: "btn btn-default pull-left" do %>
						<span class="glyphicon glyphicon-arrow-left"></span> 
					<% end %>
				</div>
				<div class="col-xs-4">
					<div class="center-block" id="textareaFeedback">
					</div>
				</div>
				<div class="col-xs-4">
					<%= button_tag type: "f.submit", title: "Save & Continue", class: "btn btn-success pull-right", id: "nextButton" do %><span class="glyphicon glyphicon-arrow-right"></span>
					<% end %>
					<% end %>
				</div>
			</div>
		</div>
		</div>
<br>
<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center intExample" id="intExample">
			<p class="text-muted"><span class="intPink omnes">Example: </span>The difference between NewsHubby and its competitors is that NewsHubby is helping tech startups easily and automatically create press releases on a continual basis. That means there is a constant flow of new and relevant news for the clients to share, a critical component if you want to catch the media’s eye. That’s in addition to also being a news room.
			</p>
		</div>
	</div> <!-- /.row -->
</div> <!-- / .container -->
