<% title "Newshubby | Interview" %>

<div class="container">
	<div class="row">
		<div class="col-sm-3 hidden-xs text-center">
		</div>
		<div class="col-sm-6 text-center">
			<div class="numerals intNumerals"><h4><%= @step_number %>/<%= @steps_max %></h4></div>
			<h4>How is <%= @newsroom.company_name %> funded?</h4>
			<br>
			<%= render :layout => "form" do |f| %>
			<%= f.fields_for :fundings do |funding| %>
			<div class="panel panel-default">
				<div class="panel-body">
					<%= funding.link_to_remove do %><span class="glyphicon glyphicon-remove pull-right" title="Remove"></span><% end %><br>
			<p>
			<%= funding.label :investment_type %>&emsp;
			<%= funding.select :investment_type, ["Private Investor", "Venture Capital", "Bootstrapped", "No funding", "Other"], rows: 3, id: "textarea", class: "form-control", onfocus: "this.value = this.value;", max: 200, placeholder: "Name" %>
			</p>
			
			<p>
			<%= funding.text_field :name, rows: 3, id: "textarea", class: "form-control", max: 200, placeholder: "Name" %>
			</p>
			
			<p>
			
					<div class="form-group">
						<div class="input-group">
						<div class="input-group-addon">
							$
						</div>
					<%= funding.number_field :amount, class: "form-control", placeholder: "Amount"  %>
				</div>
			</div>

			</p>
			
			<p>
			<%= funding.date_select :date, order: [:month, :year], rows: 3, id: "textarea", class: "form-control" %>
			</p>
			
		</div>
	</div>
		<% end %>
			
				<%= f.link_to_add :fundings do %><p><i class="glyphicon glyphicon-plus"></i> Add Funding</p><% end %>
						
			<br>
			<div class="row">
				<div class="col-xs-4">
					<%= link_to previous_wizard_path, title: "Previous step", class: "btn btn-default pull-left" do %>
						<span class="glyphicon glyphicon-arrow-left"></span> 
					<% end %>
				</div>
				<div class="col-xs-4">

				</div>
				<div class="col-xs-4">
					<%= button_tag type: "f.submit", title: "Save & Continue", class: "btn btn-success pull-right", id: "nextButton" do %><span class="glyphicon glyphicon-arrow-right"></span>
					<% end %>
					<% end %>
				</div>
			</div>
		</div>
		</div>
<br>
<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center intExample" id="intExample">
		</div>
	</div> <!-- /.row -->
</div> <!-- / .container -->
