<% title "Newshubby | Interview" %>

<div class="container">
	<div class="row">
		<div class="col-sm-3 hidden-xs">
			<%= image_tag "mr_newshubby3.svg", class: "img-responsive center-block", id: "hubert" %><br>
		</div>
		<div class="col-sm-6 text-center">
			<div class="numerals intNumerals"><h4><%= @step_number %>/<%= @steps_max %></h4></div>
			<h3 class="omnes">Links</h3>
			<br>
			<%= render :layout => "form" do |f| %>
			<%= f.fields_for :company_launches, @newsroom.company_launches.last do |company_launch| %>
			
			<p>
			<%= company_launch.text_field :link1, rows: 3, class: "form-control", placeholder: "Paste/enter URL" %><br>
			<%= company_launch.text_field :caption_link1, rows: 3, class: "form-control", max: 200, placeholder: "Description for first link" %>
			</p>
			<br>
			<p>
			<%= company_launch.text_field :link2, rows: 3, class: "form-control", placeholder: "Paste/enter URL" %><br>
			<%= company_launch.text_field :caption_link2, rows: 3, class: "form-control", max: 200, placeholder: "Description for second link" %>
			</p>
			
			<% end %>
			<br>
			<div class="row">
				<div class="col-xs-4">
					<%= link_to previous_wizard_path, class: "btn btn-default pull-left" do %>
						<span class="glyphicon glyphicon-chevron-left"></span> Previous
					<% end %>
				</div>
				<div class="col-xs-4">
					<div class="center-block" id="textareaFeedback">
					</div>
				</div>
				<div class="col-xs-4">
					<%= button_tag type: "f.submit", class: "btn btn-success pull-right", id: "nextButton" do %>Next <span class="glyphicon glyphicon-chevron-right", disabled: "false"></span>
					<% end %>
					<% end %>
				</div>
			</div>
		</div>
		</div>
<br>
<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center intExample" id="intExample">
			<p><strong>Example: </strong><p>Links to related websites, video clips, etc.</p><p>Make sure your videos are embeddable.</p>
			</p>
		</div>
	</div> <!-- /.row -->
</div> <!-- / .container -->

