<% title "Newshubby | Key People" %>


<div class="container">
	<div class="row">
		<div class="col-sm-3 hidden-xs text-center">
		</div>
		<div class="col-sm-6 text-center">
			<div class="numerals intNumerals"><h4><%= @step_number %>/<%= @steps_max %></h4></div>
			<h4><%= @newsroom.company_name.possessive %> key people</h4>
			<br>
			<%= render :layout => "form" do |f| %>
			<%= f.fields_for :people do |person| %>
			
			<div class="panel panel-default">
				<div class="panel-body">
					<%= person.link_to_remove do %><span class="glyphicon glyphicon-remove pull-right" title="Remove"></span><% end %><br><br>

			<p>
				<%= person.text_field :name, rows: 3, class: "form-control", placeholder: "Name" %>
				Founder <%= person.check_box :founder %>
			</p>
			
			<p>
				<%= person.text_field :role, rows: 3, class: "form-control", placeholder: "Role" %>
			</p>
			
			<p>
				<%= person.text_area :presentation, rows: 3, class: "form-control", placeholder: "Presentation" %>
			</p>
			
			</div>
		</div>
		<% end %>
		
			<%= f.link_to_add :people do %><p><i class="glyphicon glyphicon-plus"></i> Add New Person</p><% end %>
			<br>
			<div class="row">
				<div class="col-xs-4">
					<%= link_to previous_wizard_path, title: "Previous step", class: "btn btn-default pull-left" do %>
						<span class="glyphicon glyphicon-arrow-left"></span> 
					<% end %>
				</div>
				<div class="col-xs-4">
					<div class="center-block" id="textareaFeedback">
					</div>
				</div>
				<div class="col-xs-4">
					<%= button_tag type: "f.submit", title: "Save & Continue", class: "btn btn-success pull-right", id: "nextButton" do %><span class="glyphicon glyphicon-arrow-right"></span>
					<% end %>
					<% end %>
				</div>
			</div>
		</div>
		</div>
<br>
</div> <!-- / .container -->
