<% title "Newshubby | Interview" %>

<div class="container">
	<div class="row">
		<div class="col-sm-3 hidden-xs text-center">
			<div class="intHelp" id="hubert"><h1 class="omnes">?</h1></div>
		</div>
		<div class="col-sm-6 text-center">
			<div class="numerals intNumerals"><h4><%= @step_number %>/<%= @steps_max %></h4></div>
			<h4>Quote by the Founder - Tell me how you came up with idea behind <%= @newsroom.company_name %></h4>
			<br>
			<%= render :layout => "form" do |f| %>
			
			<%= f.fields_for :company_launches, @newsroom.company_launches.last do |company_launch| %>
			
			<% if @newsroom.company_launches.last.quote.blank? %>
			<%= company_launch.text_area :quote, rows: 6, id: "textarea", class: "form-control", onfocus: "this.value = this.value;", max: 400, value: "The idea came from " %>
			<% else %>
			<%= company_launch.text_area :quote, rows: 6, id: "textarea", class: "form-control", onfocus: "this.value = this.value;", max: 400 %>
			<% end %>
			<% end %>
			<br>
			<div class="row">
				<div class="col-xs-4">
					<%= link_to previous_wizard_path, title: "Previous step", class: "btn btn-default pull-left" do %>
						<span class="glyphicon glyphicon-arrow-left"></span> 
					<% end %>
				</div>
				<div class="col-xs-4">
					<div class="center-block" id="textareaFeedback">
					</div>
				</div>
				<div class="col-xs-4">
					<%= button_tag type: "f.submit", title: "Save & Continue", class: "btn btn-success pull-right", id: "nextButton" do %><span class="glyphicon glyphicon-arrow-right"></span>
					<% end %>
					<% end %>
				</div>
			</div>
		</div>
		</div>
<br>
<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center intExample" id="intExample">
			<p class="text-muted"><span class="intPink omnes">Example: </span>The idea came from when I helped a startup to reach out to press worldwide. I couldn’t find any affordable PR platforms for startups, neither were there any tools for actually helping the startups create their press releases.
			</p>
		</div>
	</div> <!-- /.row -->
</div> <!-- / .container -->
