<div class="flexBox">
    <div id="presto-content">
        <div id="sidebar-area">
						<div id="q-container">
							<%= nested_form_for([@newsroom, @press_release], remote: true) do |f| %>
							
		          <div class="text-center" id="nav-container">
								<%= f.submit "Previous", class: "btn btn-default", id: "prev", name: "Previous" %>
								<%= f.submit "Next", class: "btn btn-info", id: "next", name: "Next" %>
		          </div> <!-- / #next-container -->
              <div class="prestoNav">
                  <ul id="prestoNavUL">
                      
                  </ul>
              </div>
							  <% if @press_release.errors.any? %>
							    <div id="error_explanation">
							      <h2><%= pluralize(@press_release.errors.count, "error") %> prohibited this press_release from being saved:</h2>

							      <ul>
							      <% @press_release.errors.full_messages.each do |message| %>
							        <li><%= message %></li>
							      <% end %>
							      </ul>
							    </div>
							  <% end %>
								
								<% if @newsroom.business_model.blank? %>
									<%= render 'press_releases/fields/newsroom', f: f %>												
								<% end %>
								
								<% unless @press_release.hex.nil? %>
								    <div class="container-fluid hidden">
								        <div class="row">
								            <div class="col-xs-12">
															<div class="panel panel-default">
															    <div class="panel-heading">
															        <i class="fa fa-question-circle fa-lg intHelp pull-right hidden-xs text-primary hints" data-toggle="tooltip" data-placement="left" title="Toggle help"></i>
															        <p class="panel-title text-left">Exclusivity</p>
															    </div> <!-- / .panel-heading -->
															    <div class="panel-body">
							        
																		  <strong>Your press release is not yet public. Use this link to share the press release and keep its exclusivity.</strong><br>
																			<%= newsroom_press_release_url(@press_release.newsroom, @press_release) + "/?&hex=#{@press_release.hex}" %><br><br>
																			<p>
																			<%= f.label :exclusive, "Change Press Release Exclusivity" %><br>
																			Exclusive <%= f.radio_button :exclusive, false, :checked => true %>
																			Public <%= f.radio_button :exclusive, false, :checked => false %>
																			</p>
															    </div><!--/ .panel-footer -->
															</div> <!-- / .panel -->
																	
								            </div> <!-- / .col-xs-12 -->
								        </div> <!-- / .row -->
								    </div> <!-- / .container-fluid -->
								<% end %>

								<%= f.hidden_field :pressrelease_type_id %>
								
								
								<% if @newsroom.business_model.blank? %>
								<div class="question" id="q<%= 10 + @press_release.pressrelease_type.fields.count %>">
								<% else %>
								<div class="question" id="q<%= 1 + @press_release.pressrelease_type.fields.count %>">
								<% end %>	
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="question-title">
																	<% if @newsroom.business_model.blank? %>
																	Question <%= 10 + @press_release.pressrelease_type.fields.count %>
																	<% else %>
																	Question <%= 1 + @press_release.pressrelease_type.fields.count %>
																	<% end %>
																</h4>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-question-circle fa-lg intHelp pull-right hidden-xs text-primary hints" data-toggle="tooltip" data-placement="left" title="Toggle help"></i>
                                        <p class="panel-title text-left">Title</p>
                                    </div> <!-- / .panel-heading -->
                                    <div class="panel-body">
                                      <%= f.text_field :title, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %>
                                    </div> <!-- / .panel-body -->
                                    <div class="panel-footer clearfix">
                                        <div class="pull-left" id="textareaFeedback"></div>
                                        <!-- <button type="button" class="btn btn-primary pull-right" id="save">Save <i class="fa fa-arrow-right"></i></button> -->
                                    </div><!--/ .panel-footer -->
                                </div> <!-- / .panel -->
                            </div> <!-- / .col-xs-12 -->
                        </div> <!-- / .row -->
                    </div> <!-- / .container-fluid -->
                </div> <!-- / .question -->
								
								<% if @newsroom.business_model.blank? %>
								<div class="question" id="q<%= 13 + @press_release.pressrelease_type.fields.count %>">
								<% else %>
								<div class="question" id="q<%= 4 + @press_release.pressrelease_type.fields.count %>">
								<% end %>	
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="question-title">
																</h4>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-question-circle fa-lg intHelp pull-right hidden-xs text-primary hints" data-toggle="tooltip" data-placement="left" title="Toggle help"></i>
                                        <p class="panel-title text-left">Embargo date</p>
                                    </div> <!-- / .panel-heading -->
                                    <div class="panel-body">
                                      <%= f.date_select :embargo, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %>
                                    </div> <!-- / .panel-body -->
                                    <div class="panel-footer clearfix">
                                        <div class="pull-left" id="textareaFeedback"></div>
                                        <!-- <button type="button" class="btn btn-primary pull-right" id="save">Save <i class="fa fa-arrow-right"></i></button> -->
                                    </div><!--/ .panel-footer -->
                                </div> <!-- / .panel -->
                            </div> <!-- / .col-xs-12 -->
                        </div> <!-- / .row -->
                    </div> <!-- / .container-fluid -->
                </div> <!-- / .question -->
								
								<% if @newsroom.business_model.blank? %>
								<div class="overlay-message" id="modal<%= 11 + @press_release.pressrelease_type.fields.count %>">
								<% else %>
								<div class="overlay-message" id="modal<%= 2 + @press_release.pressrelease_type.fields.count %>">
								<% end %>
										<div class="panel panel-default">
								        <div class="panel-body">
								            <button type="button" class="close closeModal" id="closeIntHints"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								            <h5>
								                <span class="text-primary"><strong>Example: </strong></span>
								            </h5>
								            <p>
								              here goes the example
								            </p>
								            <br>
								            <h5>
								                <span class="text-primary"><strong>Remember: </strong></span>
								            </h5>
								            <p>
								             	Here goes the tip
								            </p>
								        </div> <!-- / .panel-body -->
								    </div> <!-- / .panel -->
								</div> <!-- / .overlay-message -->
								
								
										<%= f.fields_for :specifics, OpenStruct.new(@press_release.specifics) do |builder| %>
											<% @press_release.pressrelease_type.fields.each_with_index do |field, index| %>
											<%= render "press_releases/fields/#{field.field_type}", field: field, index: index, press_release: builder %>
											<% end %>

										<% end %>

										<br><br>

										<% if @newsroom.business_model.blank? %>
										<div class="question" id="q<%= 11 + @press_release.pressrelease_type.fields.count %>">
										<% else %>
										<div class="question" id="q<%= 2 + @press_release.pressrelease_type.fields.count %>">
										<% end %>
										
										<%= f.fields_for :links do |link| %>
										<%= render 'press_releases/fields/links', f: link %>
										<% end %>
										

		                <p class="text-center"><%= f.link_to_add :links, class: "add-new" do %> + Add new link<% end %></p>
										</div> <!-- / .question -->
										
										<% if @newsroom.business_model.blank? %>
										<div class="overlay-message" id="modal<%= 11 + @press_release.pressrelease_type.fields.count %>">
										<% else %>
										<div class="overlay-message" id="modal<%= @press_release.pressrelease_type.fields.count %>">
										<% end %>
												<div class="panel panel-default">
										        <div class="panel-body">
										            <button type="button" class="close closeModal" id="closeIntHints"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										            <h5>
										                <span class="text-primary"><strong>Example: </strong></span>
										            </h5>
										            <p>
										              here goes the example
										            </p>
										            <br>
										            <h5>
										                <span class="text-primary"><strong>Remember: </strong></span>
										            </h5>
										            <p>
										             	Here goes the tip
										            </p>
										        </div> <!-- / .panel-body -->
										    </div> <!-- / .panel -->
										</div> <!-- / .overlay-message -->
										
										<% if @newsroom.business_model.blank? %>
										<div class="question" id="q<%= 12 + @press_release.pressrelease_type.fields.count %>">
										<% else %>
										<div class="question" id="q<%= 3 + @press_release.pressrelease_type.fields.count %>">
										<% end %>
										
										<%= f.fields_for :uploads do |upload| %>
										<%= render 'press_releases/fields/uploads', f: upload %>	
										<% end %>
										
										<p class="text-center"><%= f.link_to_add :uploads, class: "add-new" do %><i class="glyphicon glyphicon-plus"></i> Add Upload<% end %></p>
										</div> <!-- / .question -->
										
										<% if @newsroom.business_model.blank? %>
										<div class="overlay-message" id="modal<%= 12 + @press_release.pressrelease_type.fields.count %>">
										<% else %>
										<div class="overlay-message" id="modal<%= 3 + @press_release.pressrelease_type.fields.count %>">
										<% end %>
												<div class="panel panel-default">
										        <div class="panel-body">
										            <button type="button" class="close closeModal" id="closeIntHints"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										            <h5>
										                <span class="text-primary"><strong>Example: </strong></span>
										            </h5>
										            <p>
										              here goes the example
										            </p>
										            <br>
										            <h5>
										                <span class="text-primary"><strong>Remember: </strong></span>
										            </h5>
										            <p>
										             	Here goes the tip
										            </p>
										        </div> <!-- / .panel-body -->
										    </div> <!-- / .panel -->
										</div> <!-- / .overlay-message -->
										
            </div> <!-- / #q-container -->
						<% end %>
        </div> <!-- / #sidebar-area -->
        <div id="preview-area">
            
           	<div class="overlay"></div>
            
            <div class="container-fluid pr-container">
							<%= render "press_releases/layouts/#{@press_release.pressrelease_type.name.parameterize("_")}", locals: { press_release: @press_release } %>
						</div> <!-- / .prContainer -->
        </div> <!-- / #preview-area -->
        <!-- <div class="preview-bar">
<p>Preview Area</p>
<button class="btn btn-success pull-right">Save as draft</button>
</div> -->
    </div> <!-- / #presto-content -->
</div> <!-- / .flexBox -->