<style>

	.brick { width: 230px;
		float: left;
	 }
	
	#masonry-container {
	  margin: 0px auto;
	}
</style>

<div class="shortPage">
	<div class="container">
	    <h2 class="text-center">Latest Press Releases</h2>  

			<% if @press_releases.blank? %>
				<h3 class="text-center text-muted"><%= @newsroom.company_name %> has no press releases yet.</h3>
			<% end %>
			
			<div id="masonry-container">

			<% @press_releases.each do |press_release| %>
	    <div class="brick">
	        <div class="thumbnail">
	            <%= link_to newsroom_press_release_path(press_release.newsroom, press_release) do %>
									<% unless press_release.uploads.first.nil? %>
									<% if press_release.uploads.first.file.blank? %>
									<!-- FIXA BROKEN LINK-BILD! -->
										<%= image_tag "#", class: "thumbImg", alt: "" %>
									<% else %>
	                	<%= image_tag press_release.uploads.first.file.url(:medium), class: "thumbImg", alt: "" %>
	            <% end %><% end %><% end %>
	            <div class="caption">
	                <%= link_to newsroom_press_release_path(press_release.newsroom, press_release) do %><h4><%= press_release.title %></h4><% end %>
	                <time class="pull-left" datetime="2014-10-28 20:00"><small><%= time_ago_in_words(press_release.created_at) %></small></time>
	                <%= link_to press_release.newsroom do %><p class="text-muted pull-right"><small><em><i class="fa fa-home fa-fw"></i>&nbsp;Newsroom</em></small></p><% end %>
	            </div> <!-- / .caption -->
            
	            <div class="clearfix"></div>
	        </div> <!-- / .thumbnail -->
	    </div> <!-- / .col-sm-6 -->
			<% end %>
		</div>
	</div> <!-- / .container -->
	<div class"push"></div>
</div>