<% title "#{@newsroom.company_name.possessive} Press Releases" %>

<div class="shortPage">
	<div class="container">
<<<<<<< HEAD
		<h2 class="text-center"><%= @newsroom.company_name.possessive %> Press Releases</h2>  

		<% if @press_releases.blank? %>
		<h3 class="text-center text-muted"><%= @newsroom.company_name %> has no press releases yet.</h3>
		<% end %>

		<div id="masonry-container" class="infinite-scroll clearfix has-gutters">
		
		<% unless @press_releases.nil? %>
				<% @press_releases.each do |press_release| %>
				<div class="col-sm-6 col-md-4 col-lg-3 brick">
					<div class="thumbnail"> 
						<% if @owner %>
						<div class="pr-thumbnail-options">

							<%= link_to newsroom_press_release_path(press_release.newsroom, press_release) do %> <button class="btn btn-sm btn-primary"><i class="fa fa-eye"></i>&nbsp;View</button><% end %>

							<%= link_to edit_newsroom_press_release_path(@newsroom, press_release), title: "Edit" do %><button class="btn btn-sm btn-default"><i class="fa fa-pencil" title="Edit this press release">&nbsp;Edit</i></button><% end %>

							<%= link_to newsroom_press_release_path(@newsroom, press_release), title: "Delete" , method: :delete, data: { confirm: "Are you sure that you want to permanently delete this press release? This action can not be undone." } do %><button class="btn btn-sm btn-danger"><i class="fa fa-times" title="Permanently delete this press release">&nbsp;Delete</i></button><% end %>
						</div>
						<% end %>

						<%= link_to newsroom_press_release_path(@newsroom, press_release) do %>
						<% unless press_release.uploads.first.file.blank? %>
						<%= image_tag press_release.uploads.first.file.url(:medium), alt: "" %> <!-- , class: "#{"thumbnail-transparent" if press_release.exclusive?}" -->
						<% else %>
						<%= image_tag "images/feature_img.png", alt: "" %> 
						<% end %>
						<% end %>
						<div class="caption">
							<time class="pull-right text-muted clearfix" datetime="2014-10-28 20:00">
								<small>
									<%= time_ago_in_words(press_release.embargo) unless press_release.embargo.blank? %>
								</small>
							</time>
							<h4><%= link_to press_release.title, newsroom_press_release_path(@newsroom, press_release) %></h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet esse, pariatur, quas consequatur nobis cum nulla facilis...

								<%= link_to newsroom_press_release_path(press_release.newsroom, press_release) do %> 
								Read More 
								<% end %>
							</p>
							<% if press_release.exclusive? %>
							<div class="text-center">
								<%= link_to newsroom_press_release_path(press_release.newsroom, press_release) do %>
								<span class="label label-danger"><i class="fa fa-eye-slash" title="This press release is only exclusively visible">&nbsp;Unlisted</i></span>
								<% end %>
							</div>
							<% end %>
						</div> <!-- / .caption -->
						<div class="clearfix"></div>
					</div> <!-- / .thumbnail -->
				</div> <!-- / .col-sm-6 -->
				<% end %><% end %>
=======
	    <h2 class="text-center"><%= @newsroom.company_name.possessive %> Press Releases</h2>  

			<% if @press_releases.blank? %>
				<h3 class="text-center text-muted"><%= @newsroom.company_name %> has no press releases yet.</h3>
			<% end %>
			
			<div id="masonry-container" class="infinite-scroll clearfix has-gutters">

			<% @press_releases.each do |press_release| %>
	    <div class="col-sm-4 brick">
					<% if can? :manage, @press_release %>
					<div class="nrThumbMenu">
					<%= link_to newsroom_press_release_path(@newsroom, press_release), title: "Delete" , method: :delete, data: { confirm: "Are you sure that you want to permanently delete this press release?" } do %>
					<i class="fa fa-times fa-lg pull-right" title="Permanently delete this press release"></i>
					<% end %>
					<%= link_to edit_newsroom_press_release_path(@newsroom, press_release), title: "Edit" do %>
					<i class="fa fa-edit fa-lg pull-right" title="Edit this press release"></i>
					<% end %>
					<% if press_release.exclusive? %>
					<i class="fa fa-eye-slash fa-lg pull-right" title="This press release is only exclusively visible"></i>
					<% end %>
					
					</div>
				<% end %>
					
	        <div class="thumbnail">
	            <%= link_to newsroom_press_release_path(press_release.newsroom, press_release) do %>
									<% unless press_release.uploads.first.nil? %>
									<% if press_release.uploads.first.file.blank? %>
									<!-- FIXA BROKEN LINK-BILD! -->
										<%= image_tag "images/feature_img.png", class: "thumbImg", alt: "" %>
									<% else %>
	                	<%= image_tag press_release.uploads.first.file.url(:medium), class: "thumbImg", alt: "" %>
	            <% end %><% end %><% end %>
	            <div class="caption">
	                <%= link_to newsroom_press_release_path(press_release.newsroom, press_release) do %><h4><%= press_release.title %></h4><% end %>
	                <br><time class="pull-left" datetime="2014-10-28 20:00"><small><%= time_ago_in_words(press_release.embargo) unless press_release.embargo.blank? %></small></time>
	                <%= link_to press_release.newsroom do %><p class="text-muted pull-right"><small><em><i class="fa fa-home fa-fw"></i>&nbsp;Newsroom</em></small></p><% end %>
	            </div> <!-- / .caption -->
            
	            <div class="clearfix"></div>
	        </div> <!-- / .thumbnail -->
	    </div> <!-- / .col-sm-6 -->
			<% end %>
>>>>>>> origin/master
		</div>


		<div class="text-center">
			<%= will_paginate @press_releases %>
		</div>
	</div> <!-- / .container -->
	<div class="push"></div>
</div>