<% title "Select Press Release Type" %>

<div class="container-fluid">

<div class="row">
	<div class="container aboutNH text-center omnes">
		<h3>Select press release type</h3></div>
	</div>
	<br>

<% if @newsroom == current_newsroom %>

<% PressreleaseType.all.each do |pressrelease_type| %>

<div class="col-sm-3 text-center">
	<div class="panel">
		<div class="panel-body">
			<h4><%= pressrelease_type.name %></h4>
			<p><%= pressrelease_type.description %></p>
			<%= image_tag "press_release_types/#{pressrelease_type.name.parameterize("_")}.png", class: "img-responsive" %>
			<!--
			Company launch: <p>For when you are launching a company</p>
			Feature launch: <p>For when your company is launching a new feature</p>
			Manual: <p>For when you already have your own content</p>
			New market: For when your company is entering new markets
			New location: For when opening up your business in a new location
			Pivot: For when doing a pivot that changes your roadmap
			Funding: For when your company gets funded
			Parternerships: For when your company is partnering up with others
			-->

			<%= link_to pressrelease_type.name, "#{request.protocol}#{request.host_with_port}/#{current_newsroom.slug}/pressreleases/new?pressrelease_type_id=#{pressrelease_type.id}", class: "btn btn-success omnes center-block" %>
		</div>
	</div>
</div>
<% end %>
<% end %>


<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>Product Launch</h4>
			<p>For when your company is launching a new product.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>

<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>Team change</h4>
			<p>For when your team is increasing.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>

<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>User Metrics</h4>
			<p>For when you have successful user metrics.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>

<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>Financial Metrics</h4>
			<p>For when you have successful financial metrics.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>

<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>New market</h4>
			<p>For when your company is entering new markets.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>


<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>New location</h4>
			<p>For when opening up your business in a new location.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>

<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>Pivot</h4>
			<p>For when doing a pivot that changes your roadmap.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>

<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>Funding</h4>
			<p>For when your company gets funded.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>

<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>Partnerships</h4>
			<p>For when your company is partnering up with others.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>



</div>