<% unless @owner %><br><br><br><% end %>

<% if @owner %>

<div class="container-fluid prStateContainer">
    <div class="prWrapper">
        <div class="row">
            <div class="col-xs-8">
                <div class="panel text-center">
                    <div class="panel-body">
                        <h4>This press release is currently <strong>publicly visible</strong></h4>
                        <p>Use the link below to share it</p>
                        <div class="well"><%= newsroom_press_release_url(@press_release.newsroom, @press_release) + "/?&hex=#{@press_release.hex}" %></div>
                        <p>or click the button to hide it from the public</p>
                            <%= best_in_place [@newsroom, @press_release], :exclusive, as: :checkbox, collection: ["Make Exclusive", "Make Public"], class: "btn btn-info" %>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel text-center prSendToPress">
                    <div class="panel-body">
                       <div class="centerContainer">
												 <div class="centerContent">
												<h4>Let Newshubby distribute this Press Release</h4><br>
													<%= link_to "Send to Press", "#", class: "btn btn-primary btn-lg" %>
											 	</div>
										 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="prOptions clearfix">
    <%= link_to edit_newsroom_press_release_path(@newsroom, @press_release), class: "pull-left" do %><i class="fa fa-edit fa-lg"></i>&nbsp;Edit Press Release<% end %>
		<%= link_to newsroom_press_release_path(@newsroom, @press_release)+".pdf", format: :pdf, class: "pull-right" do %><i class="fa fa-file-pdf-o fa-lg"></i>&nbsp;Download PDF<% end %>
</div>			

<% end %>

<div class="container-fluid pr-container">
<%= render "press_releases/layouts/#{@press_release.pressrelease_type.name.parameterize.underscore}" %>
</div>
