<% title "#{@press_release.title}" %>

<% unless @owner %><br><br><br><% end %>

<% if @owner %>
    <div class="prStateContainer container-fluid hidden-print">
        <div class="prWrapper">
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel text-center">
                        <div class="panel-body">
                            <% if @press_release.exclusive? %>
                                <h4 class="prState text-info">This press release is <strong class="prStateText"><i class="fa fa-eye-slash"></i> unlisted</strong></h4>
                            <% else %>
                                <h4 class="prState text-primary">This press release is <strong class="prStateText">public</strong></h4>
                            <% end %>
                            
    						<% if @press_release.exclusive? %>
    							<p class="prLink">Use the link below to share your press release while it's unlisted:</p>
                                <div class="well prLink"><%= newsroom_press_release_url(@press_release.newsroom, @press_release) + "/?&hex=#{@press_release.hex}" %></div>
    						<% else %>
    						  <p class="hidden prLink">Use the link below to share your press release while it's unlisted:</p>
                                <div class="well hidden prLink"><%= newsroom_press_release_url(@press_release.newsroom, @press_release) + "/?&hex=#{@press_release.hex}" %></div>
    						<% end %>

                            <% if @press_release.exclusive? %>
    				            <%= best_in_place [@newsroom, @press_release], :exclusive, as: :checkbox, collection: ["Make unlisted", "Make public"], class: "btn btn-info", id: "prStateBtn" %>
    						<% else %>
    					       <%= best_in_place [@newsroom, @press_release], :exclusive, as: :checkbox, collection: ["Make unlisted", "Make public"], class: "btn btn-primary", id: "prStateBtn" %>
    						<% end %>
                        </div> <!-- / .panel-body -->
                    </div> <!-- / .panel -->
                </div> <!-- / .col -->
                <div class="col-sm-4">
                    <div class="panel text-center prSendToPress">
                        <div class="panel-body">
                           <div class="centerContainer">
    					        <div class="centerContent">
    								<h4>Let Newshubby distribute this Press Release</h4><br>
    									<%= link_to "Send to Press", distribution_path(id: @press_release.id), class: "btn btn-action btn-lg" %>
    								<!-- <br><br><p><small>* No commitment by clicking. We'll contact you with a distribution plan and price.</small></p> -->
    						 	</div> <!-- / .centerContent -->
    						</div> <!-- / .centerContainer -->
                        </div> <!-- / .panel-body -->
                    </div> <!-- / .panel -->
                </div> <!-- / .col -->
            </div> <!-- / .row-->
        </div> <!-- / .prWrapper-->
    </div> <!-- prStateContainer -->
<% end %>

<div class="prOptions clearfix hidden-print">
<% if @owner %>
    <%= link_to edit_newsroom_press_release_path(@newsroom, @press_release), class: "pull-left" do %><i class="fa fa-edit fa-lg"></i>&nbsp;Edit Press Release<% end %>
<!-- <%= link_to newsroom_press_release_path(@newsroom, @press_release)+".pdf", format: :pdf, class: "pull-right" do %><i class="fa fa-file-pdf-o fa-lg"></i>&nbsp;Download PDF<% end %> -->
<% else %>
	<%= link_to newsroom_path(@newsroom), class: "pull-left" do %><i class="fa fa-home fa-lg"></i>&nbsp;Go to <%= @newsroom.company_name.possessive %> newsroom<% end %>
<% end %>
</div>

<div class="container-fluid pr-container">
<%= render "press_releases/layouts/#{@press_release.pressrelease_type.name.parameterize.underscore}" %>
</div>
</div>
</div>

<br>