										<hr class="hidden-print">
										<% unless @press_release.links.blank? %>
                    <h4>Links</h4>
                    <ul>
											<% @press_release.links.each do |link| %>
											<% unless link.link.blank? %>
											<% if link.link.include? "youtube.com" %>
											<% elsif link.link.include? "youtu.be" %>
											<% elsif link.link.include? "vimeo.com"%>
											<% else %>
												
												<% if link.link.start_with?("http://") %>
                        <li><%= link_to link.caption, link.link, target: "_blank" %></li>
												<% else %>
												<li><%= link_to link.caption, "http://"+link.link, target: "_blank" %></li>
												<% end %>
												
											<% end %>
											<% end %>
											<% end %>
                    </ul><br>
										<div id="masonry-container" class="infinite-scroll clearfix has-gutters">
											<% unless @press_release.uploads.blank? %>
											<% @press_release.uploads.all[1..-1].each do |upload| %>
											<% unless upload.file.blank? %>
                        <div class="col-xs-4 brick">
													<%= link_to upload.file.url, class: "thumbnail" do %>
                                <%= image_tag upload.file.url(:medium), alt: "" %>
                                <p><small><%= upload.caption %></small></p>
                           <% end %>
                        </div>
											<% end %>
											<% end %>
											<% end %>
											
											
											<% @press_release.links.each do |link| %>
											<% unless link.link.nil? %>
											<% if link.link.include? "youtube.com" %>
                        <div class="col-xs-4 brick">
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= link.link.gsub(/.*v=/, '') %>" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <p><small><%= link.caption %></small></p>
                        </div>
											<% end %>
											
											<% if link.link.include? "youtu.be" %>
                        <div class="col-xs-4 brick">
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= link.link.gsub(/.*youtu.be\//, '') %>" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <p><small><%= link.caption %></small></p>
                        </div>
											<% end %>
											
											<% if link.link.include? "vimeo.com" %>
                        <div class="col-xs-4 brick">
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" src="//player.vimeo.com/video/<%= link.link.gsub(/.*com\//, '') %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                            <p><small><%= link.caption %></small></p>
                        </div>
											<% end %><% end %><% end %>
                    </div>
										<hr>
                </div> <!-- / .col-xs-10 col-xs-offset-1 -->
            </div> <!-- / .row -->
						<% end %>

<div class="row">
    <div class="col-xs-12">
				<%= link_to root_path, target: "_blank", class: "pr-generated" do %>
					<p class="text-center">PRESS RELEASE GENERATED WITH</p>
					<%= image_tag "newshubby_logotype.svg", class: "center-block", alt: "Link to www.newshubby.com", width: "200" %>
				<% end %>
        <br>
    </div> <!-- / .col-xs-12 -->
</div> <!-- / .row -->