<%= form_for(@pressrelease_type) do |f| %>
  <% if @pressrelease_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pressrelease_type.errors.count, "error") %> prohibited this pressrelease_type from being saved:</h2>

      <ul>
      <% @pressrelease_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
	
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
	
  <div class="field">
    <%= f.label :required_fields %><br>
    <%= f.text_field :required_fields %>
  </div>
	
	<div>
	<%= f.fields_for :fields do |builder| %>
		<%= render 'field_fields', f: builder %>
	<% end %>
	</div>
	<%= link_to_add_fields "Add Field", f, :fields %>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
