<h1>Listing pressrelease_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pressrelease_types.each do |pressrelease_type| %>
      <tr>
        <td><%= pressrelease_type.name %></td>
        <td><%= link_to 'Show', pressrelease_type %></td>
        <td><%= link_to 'Edit', edit_pressrelease_type_path(pressrelease_type) %></td>
        <td><%= link_to 'Destroy', pressrelease_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pressrelease type', new_pressrelease_type_path %>
