<%= form_for([@company_launch.newsroom, @company_launch]) do |f| %>
  <% if @company_launch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_launch.errors.count, "error") %> prohibited this company_launch from being saved:</h2>

      <ul>
      <% @company_launch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container prContainer">
	<div class="row prHeader">
		<header>
			<div class="col-xs-12">
				<h3 class="pull-left omnes">Press Release</h3>
				<h3 class="pull-right omnes"><%= f.date_select :embargo %></h3>
			</div>
		</header>
	</div> <!-- / .row01 -->
	<br><br>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-2">
			<h3 class="omnes"><%= @company_launch.newsroom.company_name %>
				
			<p>founded in <%= @company_launch.newsroom.founded.strftime("%B %Y")  %></p>
			<p><%= link_to @company_launch.newsroom.website, @company_launch.newsroom.website %></p>
			<p><p><%= image_tag "icons/twitter.svg", class: "nrTwitter" %> <%= @company_launch.newsroom.twitter %></p></p>
			<p><span class="nrContactIcons glyphicon glyphicon-envelope"></span> <%= mail_to @company_launch.newsroom.press_email, @company_launch.newsroom.press_email %></p>
			<p><span class="nrContactIcons glyphicon glyphicon-earphone"></span> <a href="tel:+4555555555"><%= @company_launch.newsroom.press_phone %></a></p>
			<p><span class="nrContactIcons glyphicon glyphicon-map-marker"></span> <%= @company_launch.newsroom.location %></p>
		</div>
		<div class="col-xs-4">
			<div class="prCenterBox">
				<div class="prCenterItem">
			<%= image_tag @company_launch.newsroom.logo.url(:medium), class: "img-responsive center-block" %>	
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container prContainer">
	<div class="row row03">
		<div class="col-xs-12">
			<h1 class="text-center pressReleaseTitle omnes"><%= @company_launch.newsroom.company_name %> launches <%= @company_launch.launch.strftime("%B %m") %></h1>
		</div>
	</div> <!-- / .row03 -->

	<div class="row row05">
		<div class="col-xs-8 col-xs-offset-2">
			<p><%= @company_launch.newsroom.q_what_you_do %></p>
			<p><%= @company_launch.newsroom.q_how_you_achieve %></p>

			<p><i>- <%= f.text_area :quote %></i>, says <%= @company_launch.newsroom.people.first.name %>.</p>
			
			<p><%= @company_launch.newsroom.q_clients %> <%= @company_launch.newsroom.differentiation %></p>
			
			<p><%= @company_launch.newsroom.company_name %> was founded by 
				
				<% @company_launch.newsroom.people.each do |person| %>
				<% if person.founder? %> 
				<%= person.name %>
				<% end %>
				<% end %>
				 in <%= @company_launch.newsroom.founded.strftime("%B, %Y") %> 
				 <% if @company_launch.newsroom.fundings.first.investment_type.blank? %>
				 <% elsif @company_launch.newsroom.fundings.first.investment_type == "Bootstrapped" %>
				 and is bootstrapped.
				 <% elsif @company_launch.newsroom.fundings.first.investment_type == "No funding" %>
				 <% else %>
				 and is funded by a <%= @company_launch.newsroom.fundings.first.investment_type %>, <%= @company_launch.newsroom.fundings.first.name %>.</p>
					<% end %>

			<br><hr>
			<!-- <blockquote>
<p>
<i class="quote">Coming together is a beginning; keeping together is progress; working together is success.” </i><br>
<br>
<span class="text-right">- Firstname Lastname (Title)</span>
</p>
</blockquote> -->
		</div>
		
	</div> <!-- / .row05 -->
	
	<div class="row row06">
		<div class="col-xs-8 col-xs-offset-2">
			<h3>PROBLEM SOLVED</h3>
			<p><%= @company_launch.newsroom.problem_solved %></p>
		</div> 
	</div> <!-- / .row06 -->

	<div class="row row07">
		<div class="col-xs-4 col-xs-offset-2">
			<h3>BUSINESS MODEL</h3>
			<p><%= @company_launch.newsroom.business_model %></p>
		</div> 
		<div class="col-xs-4">
			<h3>COMPETITIORS</h3>
			<p><%= @company_launch.newsroom.competitors %></p>
		</div>
	</div> <!-- / .row -->

	<div class="row row08">
		<div class="col-xs-4 col-xs-offset-2">
			<h3>FUNDING</h3>
			<ul class="noBullets">
				<% @company_launch.newsroom.fundings.each do |funding| %>
				<% if funding.investment_type == "Bootstrapped" || funding.investment_type == "No funding" %>
				<li>Bootstrapped.</li>
				<% elsif funding.name.blank? %>
				<% else %>
				<li><strong><%= funding.date.strftime("%B %Y") %>: </strong>$<%= funding.amount %><br><%= funding.name %></li>
				<% end %>
				<% end %>
			</ul>
			
		</div> 
		<div class="col-xs-4">
			<h3><%= "FOUNDER".pluralize.upcase %></h3>
			<ul class="noBullets">
				<% @company_launch.newsroom.people.each do |person| %>
				<% if person.founder? %>
				<li><strong><%= person.name %></strong> (<%= person.role %>)<br><%= person.presentation %></li>
				<% end %>
				<% end %>
			</ul>
		</div>
	</div>
<!-- / .row -->
	<!-- <div class="row row10">
<div class="col-xs-6">
<h3>TEAM</h3>
<ul class="noBullets">
<li><span class="semibold">Roland Johansson</span><br>Front-end Web Developer</li>
<li><span class="semibold">Robert Knutsson</span><br>Back-end Web Developer</li>
</ul>
</div> 
<div class="col-xs-6">
<img src="media/images/placeholders/placeholder_team.jpg" class="img-responsive" alt="Photo of the team">
</div>
</div> <!-- / .row -->
		
<footer>
	<div class="row row13">
		<div class="col-xs-12">
			<%= link_to "http://www.newshubby.com/", target: "_blank" do %><h6 class="text-center">PRESS RELEASE GENERATED WITH</h6>
			<%= image_tag "newshubby_logotype.svg", class: "nhLogo", alt: "Link to www.newshubby.com" %>
			<% end %>
		</div> 
	</div> <!-- / .row13 -->
</footer>
</div>

  <div class="actions">
<%= f.submit "Update Press Release", class: "btn btn-success omnes round", style: "position: fixed; bottom: 15px; right: 15px; z-index: 10000", role: "button" %>
  </div>
<% end %>