<%= form_for([@company_launch.newsroom, @company_launch]) do |f| %>
  <% if @company_launch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_launch.errors.count, "error") %> prohibited this company_launch from being saved:</h2>

      <ul>
      <% @company_launch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% unless @company_launch.launch.nil? %>
<% title "#{@company_launch.company_name} launches #{@company_launch.launch.strftime("#B")}" %>
<% else %>
<% title "#{@company_launch.company_name} launches" %>
<% end %>

<% if newsroom_signed_in? && current_newsroom.company_name == @company_launch.newsroom.company_name && @company_launch.exclusive == true %>
<div class="container text-center">
	<div class="alert alert-warning">
	  <strong>Your press release is not yet public. Use this link to share the press release and keep its exclusivity.</strong><br>
		<%= newsroom_company_launch_url(@company_launch.newsroom, @company_launch) + "/?&hex=#{@company_launch.hex}" %><br><br>
		<p>
		<%= f.label :exclusive, "Change Press Release Exclusivity" %><br>
		Exclusive <%= f.radio_button :exclusive, false, :checked => true %>
		Public <%= f.radio_button :exclusive, false, :checked => false %>
		</p>
	</div></div>
<% end %>

<%= f.submit "Save Changes", class: "btn btn-success omnes round", style: "position: fixed; bottom: 15px; right: 15px; z-index: 10000", role: "button" %>


<div class="container prContainer">
	<div class="row prHeader">
		<header>
			<div class="col-xs-12">
				<h3 class="pull-left omnes">Press Release</h3>
				<h3 class="pull-right omnes"><%= f.date_select :embargo %></h3>
			</div>  
		</header>
	</div> <!-- / .row01 -->
	<br><br>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-2">
			<h3 class="omnes"><%= @newsroom.company_name %></h3>
			<p>founded in <% unless @company_launch.newsroom.founded.nil? %><%= @company_launch.newsroom.founded.strftime("%B %Y")  %><% end %></p>
			<p><%= link_to @company_launch.newsroom.website, @company_launch.newsroom.website %></p>
			<p><p><%= image_tag "icons/twitter.svg", class: "nrTwitter" %><% unless @newsroom.twitter.nil? %><%= link_to "#{@newsroom.twitter.gsub(/.*\//, '')}", @newsroom.twitter.gsub(/@/, 'http://twitter.com/') %><% end %></p></p>
			<p><span class="nrContactIcons glyphicon glyphicon-envelope"></span> <%= mail_to @company_launch.newsroom.press_email, @company_launch.newsroom.press_email %></p>
			<p><span class="nrContactIcons glyphicon glyphicon-earphone"></span> <a href="tel:+4555555555"><%= @company_launch.newsroom.press_phone %></a></p>
			<p><span class="nrContactIcons glyphicon glyphicon-map-marker"></span> <%= @company_launch.newsroom.location %></p>
		</div>
		<div class="col-xs-4">
			<div class="prCenterBox">
				<div class="prCenterItem">
			<%= image_tag @company_launch.newsroom.logo.url(:medium), class: "img-responsive center-block" %>	
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container prContainer">
	<div class="row row03">
		<div class="col-xs-12">
			<h1 class="text-center pressReleaseTitle omnes">
				<% if @company_launches.title.nil? %>
				<%= @newsroom.company_name %> launches <%= f.date_select :launch %>
				<% else %>
				<%= f.text_field :title, placeholder: "Title" %>
				<% end %>
			</h1>
		</div>
	</div> <!-- / .row03 -->

	<div class="row row05">
		<div class="col-xs-8 col-xs-offset-2">
			<% if @company_launches.text.nil? %>
			<p>What does <%= @newsroom.company_name %> do?<br>
				<%= f.text_area :q_what_you_do, rows: 4, class: "form-control" %></p>
			<p>How exactly does <%= @newsroom.company_name %> achieve that?<br>
				<%= f.text_area :q_how_you_achieve, rows: 4, class: "form-control" %></p>

			<p>Quote by the Founder - Tell me how you came up with idea behind <%= @newsroom.company_name %><br>
				<i><%= f.text_area :quote, rows: 4, class: "form-control", placeholder: "Quote" %></i> says <%= @company_launch.newsroom.people.first.name %>.</p>
			
			<p>How would you describe <%= @newsroom.company_name.possessive %> typical clients?<br>
				<%= f.text_area :q_clients, rows: 4, class: "form-control" %></p>
				<p>How does <%= @newsroom.company_name %> differ from its competitors?<br>
					<%= f.text_area :differentiation, rows: 4, class: "form-control" %></p>
			
			<p><%= @company_launch.newsroom.company_name %> was founded by 
				
				<% @company_launch.newsroom.people.each do |person| %>
				<% if person.founder? %> 
				<%= person.name %>
				<% end %>
				<% end %>
				 in <% unless @company_launch.newsroom.founded.nil? %><%= @company_launch.newsroom.founded.strftime("%B, %Y") %><% end %> 
				 <% if @company_launch.newsroom.fundings.first.investment_type.blank? %>
				 <% elsif @company_launch.newsroom.fundings.first.investment_type == "Bootstrapped" %>
				 and is bootstrapped.
				 <% elsif @company_launch.newsroom.fundings.first.investment_type == "No funding" %>
				 <% else %>
				 and is funded by a <%= @company_launch.newsroom.fundings.first.investment_type %>, <%= @company_launch.newsroom.fundings.first.name %>.</p>
					<% end %>
					<% else %>
					<%= f.text_area :text, class: "form-control", rows: 14 %>
					<% end %>
			<br><hr>
	</div>		
	
			
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h3>Problem Solved</h3>
			<p><%= f.text_area :problem_solved, class: "form-control", rows: 4 %></p>
		</div> 
   </div> <!-- / .row -->
	
 	<div class="row">
 		<div class="col-xs-8 col-xs-offset-2">
 			<h3>Business Model</h3>
 			<p><%= f.text_area :business_model, class: "form-control", rows: 4 %></p>
 		</div> 
    </div> <!-- / .row -->

	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h3>Competitors</h3>
			<p><%= f.text_area :competitors, class: "form-control", rows: 4 %></p>
		</div> 
   </div> <!-- / .row -->
	 
	 
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h3>Funding</h3>
			<ul class="noBullets">
				<% @company_launch.newsroom.fundings.each do |funding| %>
				<% if funding.investment_type == "Bootstrapped" || funding.investment_type == "No funding" %>
				<li>Bootstrapped.</li>
				<% elsif funding.name.blank? %>
				<% else %>
				<li><strong><% unless funding.date.nil? %><%= funding.date.strftime("%B %Y") %><% end %>: </strong>$<%= funding.amount %><br><%= funding.name %></li>
				<% end %>
				<% end %>
			</ul>
		</div> 
  </div> <!-- / .row -->


	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h3>The Team</h3>
			<ul class="noBullets">
				<% @company_launch.newsroom.people.each do |person| %>
				<li><strong><%= person.name %></strong> (<%= person.role %>)<br><%= person.presentation %></li>
				<% end %>
			</ul>
		</div>
	</div> <!-- / .row -->
	
	<div class="nrRow nrFiles">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="row">
		<% unless @company_launch.link1.blank? %>
			<div class="col-xs-6">
				<div class="thumbnail">
						<%= f.text_field :link1, class: "form-control" %>
					<div class="embed-responsive embed-responsive-16by9">
						<% if @company_launch.link1.include? "youtube.com" %>
						<iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= @company_launch.link1.gsub(/.*v=/, '') %>" allowfullscreen></iframe>	
						<% elsif @company_launch.link1.include? "vimeo.com" %>
						<iframe src="//player.vimeo.com/video/<%= @company_launch.link2.gsub(/.*com\//, '') %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						<% end %>
					</div>
					<div class="caption">
						<% if @company_launch.link1.include?("youtube.com" || "vimeo.com") %>
						<p><small><%= f.text_field :caption_link1, class: "form-control" %></small></p>
						<% elsif %>
						<p><small><%= f.text_field :caption_link1, class: "form-control" %></small></p>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>	
	
		<% unless @company_launch.link2.blank? %>
			<div class="col-xs-6">
				<div class="thumbnail">
					<%= f.text_field :link2, class: "form-control" %>
					<div class="embed-responsive embed-responsive-16by9">
						<% if @company_launch.link2.include? "youtube.com" %>
						<iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= @company_launch.link2.gsub(/.*v=/, '') %>" allowfullscreen></iframe>	
						<% elsif @company_launch.link2.include? "vimeo.com" %>
						<iframe src="//player.vimeo.com/video/<%= @company_launch.link2.gsub(/.*com\//, '') %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						<% end %>
					</div>
					<div class="caption">
						<% if @company_launch.link2.include?("youtube.com" || "vimeo.com") %>
						<p><small><%= f.text_field :caption_link2, class: "form-control" %></small></p>
						<% elsif %>
						<p><small><%= f.text_field :caption_link2, class: "form-control" %></small></p>
						<% end %>

					</div>
				</div>
			</div>
		<% end %>
	
		
			<% unless @company_launch.file1.blank? %>
			<div class="col-xs-6">
				<div class="thumbnail">
					<%= link_to @company_launch.file1.url, target: "_blank" do %><%= image_tag @company_launch.file1.url(:medium), class: "img-responsive", alt:"Responsive image" %><% end %>
					<%= f.file_field :file1, class: "form-control" %>
					<div class="caption">
						<p><small><%= f.text_field :caption_file1, class: "form-control" %></small></p>
					</div>
				</div>
		</div>
		<% end %>
	
			<% unless @company_launch.file2.blank? %>
			<div class="col-xs-6">
				<div class="thumbnail">
					<%= link_to @company_launch.file2.url, target: "_blank" do %><%= image_tag @company_launch.file2.url(:medium), class: "img-responsive", alt:"Responsive image" %><% end %>
					<%= f.file_field :file2, class: "form-control" %>
					<div class="caption">
						<p><small><%= f.text_field :caption_file2, class: "form-control" %></small></p>
					</div>
				</div>
		</div>
		<% end %>
	
			<% unless @company_launch.file3.blank? %>
			<div class="col-xs-6">
				<div class="thumbnail">
					<%= image_tag @company_launch.file3.url(:medium), class: "img-responsive", alt:"Responsive image" %>
					<%= f.file_field :file3, class: "form-control" %>
					<div class="caption">
						<p><small><%= f.text_field :caption_file3, class: "form-control" %></small></p>
					</div>
				</div>
		</div>
		<% end %>
	
	<% end %>
</div></div></div>
</div>
</div>
	
	<br><hr>		
<footer>
	<div class="row row13">
		<div class="col-xs-12">
			<%= link_to "http://www.newshubby.com/", target: "_blank", class: "prGenerated" do %><p class="text-center">PRESS RELEASE GENERATED WITH</p>
			<%= image_tag "newshubby_logotype.svg", class: "nhLogo", alt: "Link to www.newshubby.com" %>
			<% end %>
		</div> 
	</div>
</footer>
</div>
<br><br><br>
