<% if current_newsroom == @newsroom %>
<%= link_to "Edit Press Release", edit_newsroom_company_launch_path(@newsroom, @company_launch), class: "btn pinkBtn omnes round", style: "position: fixed; bottom: 15px; right: 15px; z-index: 10000", role: "button" %>
<% end %>

<% title @company_launch.title %>

<% if newsroom_signed_in? && current_newsroom.company_name == @company_launch.newsroom.company_name && @company_launch.exclusive == true %>
<div class="container text-center">
	<div class="alert alert-warning">
	  <strong>Your press release is not yet public. Use this link to share the press release and keep its exclusivity.</strong><br>
		<%= newsroom_company_launch_url(@company_launch.newsroom, @company_launch) + "/?&hex=#{@company_launch.hex}" %>
	</div></div>
<% end %>

<div class="container prContainer">
	<div class="row prHeader">
		<header>
			<div class="col-xs-12">
				<h3 class="pull-left omnes">Press Release</h3>
				<h3 class="pull-right omnes"><% unless @company_launch.embargo.nil? %><%= @company_launch.embargo.strftime("%B %d %Y") %><% end %></h3>
			</div>  
		</header>
	</div> <!-- / .row01 -->
	<br><br>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-2">
			<h3 class="omnes"><%= @newsroom.company_name %></h3>
			<p>founded in <% unless @company_launch.newsroom.founded.nil? %><%= @company_launch.newsroom.founded.strftime("%B %Y")  %><% end %></p>
			
			<% if @company_launch.newsroom.website.start_with?('http://') %>
			<p><%= link_to @company_launch.newsroom.website.gsub(/.*www./, '').gsub(/\//, ''), @newsroom.website %></p>
			<% else %>
			<p><%= link_to @company_launch.newsroom.website.gsub(/.*www./, '').gsub(/\//, ''), "http://#{@newsroom.website}" %></p>
			<% end %>
			<p><p><%= image_tag "icons/twitter.svg", class: "nrTwitter" %><% unless @newsroom.twitter.nil? %><%= link_to "#{@newsroom.twitter.gsub(/.*\//, '')}", @newsroom.twitter.gsub(/@/, 'http://twitter.com/') %><% end %></p></p>
			<p><span class="nrContactIcons glyphicon glyphicon-envelope"></span> <%= mail_to @company_launch.newsroom.press_email, @company_launch.newsroom.press_email %></p>
			<p><span class="nrContactIcons glyphicon glyphicon-earphone"></span> <a href="tel:+4555555555"><%= @company_launch.newsroom.press_phone %></a></p>
			<p><span class="nrContactIcons glyphicon glyphicon-map-marker"></span> <%= link_to "https://www.google.com/maps/place/#{@newsroom.latitude},#{@newsroom.longitude}", target: "_blank" do %><%= @newsroom.location %><% end %></p>
		</div>
		<div class="col-xs-4">
			<div class="prCenterBox">
				<div class="prCenterItem">
			<%= image_tag @company_launch.newsroom.logo.url(:medium), class: "img-responsive center-block" %>	
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container prContainer">
	<div class="row row03">
		<div class="col-xs-12">
			<h1 class="text-center pressReleaseTitle omnes">
				<% if @company_launch.title.nil? %>
				<%= @newsroom.company_name %> launches <% unless @company_launch.launch.nil? %><%= @company_launch.launch.strftime("%B %m") %><% end %>
				<% else %>
				<%= @company_launch.title %>
				<% end %>
			</h1>
		</div>
	</div> <!-- / .row03 -->

	<div class="row row05">
		<div class="col-xs-8 col-xs-offset-2">
			<% if @company_launch.text.nil? %>
			<p><%= simple_format(@company_launch.q_what_you_do) %></p>
			<p><%= simple_format(@company_launch.q_how_you_achieve) %></p>

			<p><i>- <% unless @company_launch.quote.nil? %><%= @company_launch.quote.gsub(/\.\z/, '') %><% end %></i><% unless @company_launch.newsroom.people.first.nil? %>, says <%= @company_launch.newsroom.people.first.name %>.</p><% end %>
			
			<p><%= simple_format(@company_launch.q_clients) %> <%= simple_format(@company_launch.differentiation) %></p>
			
			<p><%= @company_launch.newsroom.company_name %> was founded by 
				
				<% @company_launch.newsroom.people.each do |person| %>
				<% if person.founder? %>
				<%= person.name %>
				<% end %>
				<% end %>
				 in <% unless @company_launch.newsroom.founded.nil? %><%= @company_launch.newsroom.founded.strftime("%B, %Y") %><% end %> 
				 <% if @company_launch.newsroom.fundings.first.investment_type.blank? %>
				 <% elsif @company_launch.newsroom.fundings.first.investment_type == "Bootstrapped" %>
				 and is bootstrapped.
				 <% elsif @company_launch.newsroom.fundings.first.investment_type == "No funding" %>
				 <% else %>
				 and is funded by a <%= @company_launch.newsroom.fundings.first.investment_type %>, <%= @company_launch.newsroom.fundings.first.name %>.</p>
					<% end %>
					<% else %>
					<%= simple_format(@company_launch.text) %>
					<% end %>
		</div>
		
	</div> <!-- / .row05 -->

	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h3>Problem Solved</h3>
			<p><%= simple_format(@company_launch.problem_solved) %></p>
		</div> 
   </div> <!-- / .row -->
	
 	<div class="row">
 		<div class="col-xs-8 col-xs-offset-2">
 			<h3>Business Model</h3>
 			<p><%= simple_format(@company_launch.business_model) %></p>
 		</div> 
    </div> <!-- / .row -->

	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h3>Competitors</h3>
			<p><%= simple_format(@company_launch.competitors) %></p>
		</div> 
   </div> <!-- / .row -->
	 
	 
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h3>Funding</h3>
			<ul class="noBullets">
				<% @company_launch.newsroom.fundings.each do |funding| %>
				<% if funding.investment_type == "Bootstrapped" || funding.investment_type == "No funding" %>
				<li>Bootstrapped.</li>
				<% elsif funding.name.blank? %>
				<% else %>
				<li><strong><% unless funding.date.nil? %><%= funding.date.strftime("%B %Y") %><% end %>: </strong>$<%= funding.amount %><br><%= funding.name %></li>
				<% end %>
				<% end %>
			</ul>
		</div> 
  </div> <!-- / .row -->


	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h3>The Team</h3>
			<ul class="noBullets">
				<% @company_launch.newsroom.people.each do |person| %>
				<li><strong><%= person.name %></strong> (<%= person.role %>)<br><%= simple_format(person.presentation) %></li>
				<% end %>
			</ul>
		</div>
	</div> <!-- / .row -->
	
	<div class="nrRow nrFiles">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="row">
		<% unless @company_launch.link1.blank? %>
			<div class="col-xs-6">
				<div class="thumbnail">
					<div class="embed-responsive embed-responsive-16by9">
						<% if @company_launch.link1.include? "youtube.com" %>
						<iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= company_launch.link1.gsub(/.*v=/, '') %>" allowfullscreen></iframe>	
						<% elsif @company_launch.link1.include? "vimeo.com" %>
						<iframe src="//player.vimeo.com/video/<%= @company_launch.link2.gsub(/.*com\//, '') %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						<% end %>
					</div>
					<div class="caption">
						<% if @company_launch.link1.include?("youtube.com" || "vimeo.com") %>
						<p><small><%= @company_launch.caption_link1 %></small></p>
						<% elsif %>
						<p><small><%= link_to @company_launch.caption_link1, @company_launch.link1 %></small></p>
						<% end %>

					</div>
				</div>
			</div>
		<% end %>	
	
		<% unless @company_launch.link2.blank? %>
			<div class="col-xs-6">
				<div class="thumbnail">
					<div class="embed-responsive embed-responsive-16by9">
						<% if @company_launch.link2.include? "youtube.com" %>
						<iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= company_launch.link1.gsub(/.*v=/, '') %>" allowfullscreen></iframe>	
						<% elsif @company_launch.link2.include? "vimeo.com" %>
						<iframe src="//player.vimeo.com/video/<%= @company_launch.link2.gsub(/.*com\//, '') %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						<% end %>
					</div>
					<div class="caption">
						<% if @company_launch.link2.include?("youtube.com" || "vimeo.com") %>
						<p><small><%= @company_launch.caption_link2 %></small></p>
						<% elsif %>
						<p><small><%= link_to @company_launch.caption_link2, @company_launch.link2 %></small></p>
						<% end %>

					</div>
				</div>
			</div>
		<% end %>
	
		
			<% unless @company_launch.file1.blank? %>
			<div class="col-xs-6">
				<div class="thumbnail">
					<%= link_to @company_launch.file1.url, target: "_blank" do %><%= image_tag @company_launch.file1.url(:medium), class: "img-responsive", alt:"Responsive image" %><% end %>
					<div class="caption">
						<p><small><%= @company_launch.caption_file1 %></small></p>
					</div>
				</div>
		</div>
		<% end %>
	
			<% unless @company_launch.file2.blank? %>
			<div class="col-xs-6">
				<div class="thumbnail">
					<%= link_to @company_launch.file2.url, target: "_blank" do %><%= image_tag @company_launch.file2.url(:medium), class: "img-responsive", alt:"Responsive image" %><% end %>
					<div class="caption">
						<p><small><%= @company_launch.caption_file2 %></small></p>
					</div>
				</div>
		</div>
		<% end %>
	
			<% unless @company_launch.file3.blank? %>
			<div class="col-xs-6">
				<div class="thumbnail">
					<%= image_tag @company_launch.file3.url(:medium), class: "img-responsive", alt:"Responsive image" %>
					<div class="caption">
						<p><small><%= @company_launch.caption_file3 %></small></p>
					</div>
				</div>
		</div>
		<% end %>
	
</div></div>
</div>
</div>
	
	<br><hr>		
		
<footer>
	<div class="row row13">
		<div class="col-xs-12">
			<%= link_to "http://www.newshubby.com/", target: "_blank", class: "prGenerated" do %><p class="text-center">PRESS RELEASE GENERATED WITH</p>
			<%= image_tag "newshubby_logotype.svg", class: "nhLogo", alt: "Link to www.newshubby.com" %>
			<% end %>
		</div> 
	</div>
</footer>
</div>
<br><br><br>