<div class="container-fluid">

<div class="row">
	<div class="container aboutNH text-center omnes">
		<h3>Select press release type</h3></div>
	</div>
	<br>
<div class="col-sm-3 text-center">
	<div class="panel">
		<div class="panel-body">
			<h4>Company Launch</h4>
			<p>When your company's just launching, make a big splash!</p>

			<%= link_to "Select", new_newsroom_company_launch_path(current_newsroom), class: "btn btn-success omnes center-block" %>
		</div>
	</div>
</div>

<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>Product Launch</h4>
			<p>Interdum et malesuada fames ac ante ipsum primis in.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>

<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>Team change</h4>
			<p>Nunc eu volutpat nisi. Donec pretium, dui vel imperdiet.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>

<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>Metrics</h4>
			<p>Nulla facilisi. Nullam sollicitudin ipsum mi, at rhoncus sem.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>

<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>New market</h4>
			<p>Integer congue nisl eget sem tempus pulvinar. Class aptent.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>


<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>New location</h4>
			<p>Ut vel nibh at sem vehicula tincidunt. Sed placerat.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>

<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>Pivot</h4>
			<p>Nullam facilisis, ante a varius interdum, nisi orci eleifend.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>

<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>Funding</h4>
			<p>Sed malesuada lorem eget elit semper tincidunt. Donec non.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>

<div class="col-sm-3 text-center text-muted">
	<div class="panel">
		<div class="panel-body">
			<h4>Contracts</h4>
			<p>In convallis, elit eu aliquam vulputate, lacus nunc dapibus.</p>
				
			<%= link_to "Coming soon", "#", class: "btn btn-default omnes center-block", disabled: "disabled" %>	
						
		</div>
	</div>
</div>



</div>