<%= render 'press_releases/partials/static_top' %>

<%= render 'press_releases/fields/handle_date' %>
												
                        <p>
                            <span>
															<% if @press_release.specifics[:award_category].blank? %>
															On <% unless @date.blank? %><%= @date.strftime("%B %d, %Y") %><% end %> <%= @newsroom.company_name %> won <%= @press_release.specifics[:award_name] %>.
															<% else %>
															On <% unless @date.blank? %><%= @date.strftime("%B %d, %Y") %><% end %> <%= @newsroom.company_name %> won <%= @press_release.specifics[:award_name] %>, category <%= @press_release.specifics[:award_category] %>.
															<% end %>
														</span>
                        </p>
												
                        <p>
                            <span>
															<%= @press_release.specifics[:award_motivation] %>
														</span>
                        </p>
												
												<%= render 'press_releases/fields/quote' %>
												
                        <p>
                            <span>
															<%= @press_release.specifics[:about_award] %>
														</span>
                        </p>
												
                        <p>
                            <span>
															<%= @press_release.specifics[:ceremony_location] %>
														</span>
                        </p>
												
												<p>
													<% unless @press_release.specifics[:award_achieved].blank? %>
													- <%= (auto_link(@press_release.specifics[:award_achieved].chomp(".")+",", :target => '_blank')) %>
													<% end %>
													 says 
													<% unless @newsroom.people.where(founder: true).blank? %>
														<%= @newsroom.people.where(founder: true).first.name %>, founder of <%= @newsroom.company_name %>
													<% else %>
														<%= @newsroom.people.first.name %> at <%= @newsroom.company_name %>
													<% end %>
												</p>
												
                        <p>
                            <span>
															<%= @press_release.specifics[:next_step] %>
														</span>
                        </p>
												
											<% unless @press_release.specifics[:prize_money].blank? %>
                        <p>
                            <span>
															<%= @press_release.specifics[:prize_money] %>
														</span>
                        </p>
											<% end %>

<%= render 'press_releases/partials/quick_pitch' %>

<%= render 'press_releases/partials/static_bottom' %>