<%= render 'press_releases/partials/static_top' %>

<%= render 'press_releases/fields/handle_date' %>

  <p>
      <span>
				<%= @newsroom.company_name %> is launching a new feature "<%= @press_release.specifics[:feature_name] %>" on <% unless @date.blank? %><%= @date.strftime("%B %d, %Y") %><% end %>
			</span>
  </p>

<%= render 'press_releases/fields/quote' %>

<%= render 'press_releases/partials/quick_pitch' %>

<p>
	<span>
<%= @press_release.specifics[:typical_customers] %>
	</span>
</p>

<% unless @press_release.specifics[:price_range].blank? %>
<p>
	<span>
		The price will be <%= @press_release.specifics[:price_range] %>
	</span>
</p>
<% end %>

<%= render 'press_releases/partials/static_bottom' %>