<%= render 'press_releases/partials/static_top' %>

<%= render 'press_releases/partials/quick_pitch' %>

<%= render 'press_releases/fields/handle_date' %>
										
                        <p>
                            <span id="pr-answer-04">
															<%= @press_release.specifics[:which_markets] %>
														</span>
                        </p>
												
                        <p>
                            <span id="pr-answer-04">
															<% unless @date.blank? %><%= @date.strftime("%B %d, %Y") %><% end %>
														</span>
                        </p>
												
<%= render 'press_releases/fields/quote' %>
												

<%= render 'press_releases/partials/clients' %>

<%= render 'press_releases/partials/founded_funding' %>

<%= render 'press_releases/partials/problem_business_competitors' %>

<%= render 'press_releases/partials/funding' %>

<%= render 'press_releases/partials/key_people' %>

<%= render 'press_releases/partials/static_bottom' %>