<%= render 'press_releases/partials/static_top' %>

<%= render 'press_releases/fields/handle_date' %>
												
                        <p>
                            <span id="pr-answer-04">
															<%= @press_release.specifics[:which_markets] %>
														</span>
                        </p>
												
                        <p>
                            <span id="pr-answer-04">
															<%= @press_release.specifics[:new_market].chomp(".") unless @press_release.specifics[:new_market].blank? %><% unless @date.blank? %> on <%= @date.strftime("%B %d, %Y") %><% end %>
														</span>
                        </p>
												
<%= render 'press_releases/fields/quote' %>

<%= render 'press_releases/partials/quick_pitch' %>

<%= render 'press_releases/partials/static_bottom' %>