<%= render 'press_releases/partials/static_top' %>

<%= render 'press_releases/fields/handle_date' %>

												
                        <p>
                            <span>
															<%= @newsroom.company_name %> partners up with <%= @press_release.specifics[:who] %>
														</span>
                        </p>
												
                        <p>
                            <span>
															The official date of the partnership is <% unless @date.blank? %><%= @date.strftime("%B %d, %Y") %><% end %>
														</span>
                        </p>
												
                        <p>
                            <span>
															<%= @press_release.specifics[:offer] %>
														</span>
                        </p>
												
<%= render 'press_releases/fields/quote' %>

<%= render 'press_releases/partials/quick_pitch' %>

<%= render 'press_releases/partials/static_bottom' %>