<%= render 'press_releases/layouts/static_top' %>

<%= render 'press_releases/fields/handle_date' %>

                        <p>
                            <span>
															<%= @newsroom.company_name %> <% unless @newsroom.people.where(founder: true).blank? %>which is founded by 
															<%= @newsroom.people.where(founder: true).map(&:name).to_sentence %><% unless @newsroom.founded.blank? %> in <%= @newsroom.founded.strftime("%B, %Y") %><% end %> is increasing the team with <%= @press_release.specifics[:how_many] %> people.
														</span>
                        </p>
												
                        <p>
                            <span>
															<%= @press_release.specifics[:work_with] %>
														</span>
                        </p>
												
												<p>
													<% unless @press_release.specifics[:quote].blank? %>
													- <%= (auto_link(@press_release.specifics[:quote].chomp(".")+",", :target => '_blank')) %>
													<% end %>
													<% unless @newsroom.people.where(founder: true).blank? %> says <%= @newsroom.people.where(founder: true).first.name %>, founder of <%= @newsroom.company_name %><% end %>
												</p>
												
												<% unless @date.blank? %>
                        <p>
                            <span>
															The new employees join <%= @newsroom.company_name %> on <%= @date.strftime("%B %d, %Y") %>
														</span>
                        </p>
												<% end %>
												
                        <% end %>
												

<%= render 'press_releases/layouts/static_bottom' %>