<%= render 'press_releases/partials/static_top' %>

<%= render 'press_releases/fields/handle_date' %>

												
                        <p>
                            <span>
															<%= @press_release.specifics[:position] %> to join its team.
														</span>
                        </p>
												
                        <p>
                            <span>
															The company seeks a candidate that will work with the following things: <%= @press_release.specifics[:tasks] %>
														</span>
                        </p>
												
                        <p>
                            <span>
															And has the following qualities: <%= @press_release.specifics[:qualities] %>
														</span>
                        </p>
												
												<p>
													<% unless @press_release.specifics[:reason].blank? %>
													- <%= (auto_link(@press_release.specifics[:reason].chomp(".")+",", :target => '_blank')) %>
													<% end %>
													<% unless @newsroom.people.where(founder: true).blank? %> says <%= @newsroom.people.where(founder: true).first.name %>, founder of <%= @newsroom.company_name %><% end %>
												</p>
												
                        <p>
                            <span>
															<%= @newsroom.company_name %> wants the new person to start on <% unless @date.blank? %><%= @date.strftime("%B %d, %Y") %><% end %>
														</span>
                        </p>
										
<%= render 'press_releases/partials/quick_pitch' %>

<%= render 'press_releases/partials/static_bottom' %>