<% title "Newsroom: #{@newsroom.company_name}" %>

<% if current_newsroom != nil && current_newsroom == @newsroom %>

<%= nested_form_for(@newsroom) do |f| %>
  <% if @newsroom.errors.any? %>
      <h2><%= pluralize(@newsroom.errors.count, "error") %> prohibited this newsroom from being saved:</h2>
      <ul>
      <% @newsroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  <% end %>

<% if @owner %>
<%= f.submit "Save Changes", class: "btn pinkBtn", style: "position: fixed; bottom: 15px; right: 15px; z-index: 10000", role: "button" %>
<% end %>

<div class="nrHeader">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-md-offset-2">
              <h3><%= f.text_field :company_name %></h3>
              <p>founded in <%= f.date_select :founded, order: [:month, :year] %></p>
              <div>
                  <p><i class="fa fa-home fa-fw"></i>&nbsp;<%= f.text_field :website %></p>
									<p><i class="fa fa-twitter fa-fw"></i>&nbsp;<%= f.text_field :twitter %></p>
                  <p><i class="fa fa-envelope fa-fw"></i>&nbsp;<%= f.text_field :press_email %></p>
                  <p><i class="fa fa-phone fa-fw"></i>&nbsp;<%= f.text_field :press_phone %></p>
									<p><i class="fa fa-map-marker fa-fw"></i>&nbsp;<%= f.text_field :location %></p>
              </div>
          </div> <!-- / .col-md-4 -->
          <div class="col-md-4">
              <div class="centerContainer">
                  <div class="centerContent">
                      <%= image_tag @newsroom.logo.url(:large), class: "img-responsive center-block" %><br>
											<%= f.label :logo, "Upload new logo" %><br>
											<%= f.file_field :logo %>
                  </div>
              </div>
          </div> <!-- / .col-md-4 -->
      </div> <!-- / .row -->
  </div> <!-- / .container -->
</div> <!-- / .nrHeader -->


<div class="nrRow">
  <div class="container">
      <div class="col-md-8 col-md-offset-2">
          <div class="row">
              <h3><i class="fa fa-file-text-o"></i>&nbsp;Latest Press Releases</h3>
							<% unless @newsroom.subscription.blank? %>
							<% unless @newsroom.press_releases.nil? %>
							<% @newsroom.press_releases[0..2].each do |press_release| %>
              <div class="col-sm-4">
								<%= link_to newsroom_press_release_path(@newsroom, press_release), title: "Delete" , method: :delete, data: { confirm: "Are you sure that you want to permanently delete this press release?" } do %>
									<span class="glyphicon glyphicon-remove pull-right">
								<% end %>

								<%= link_to edit_newsroom_press_release_path(@newsroom, press_release), title: "Edit"  do %>
									<span class="glyphicon glyphicon-pencil pull-right">
								<% end %>
						
								<%= link_to newsroom_press_release_path(@newsroom, press_release), title: "View" do %>
									<span class="glyphicon glyphicon-eye-open pull-right">
								<% end %>
						
								<% if press_release.exclusive? %>
								<%= link_to "#", title: "Exclusive: Yes" do %>
									<span class="glyphicon glyphicon-lock pull-right">
								<% end %>
								<% end %>
                  <div class="thumbnail">
                      <%= link_to newsroom_press_release_path(@newsroom, press_release) do %>
												<% unless press_release.uploads.first.nil? %>
												<% unless press_release.uploads.first.file.nil? %>
												<% end %>
												<%= image_tag press_release.uploads.first.file.url(:medium), class: "thumbImg", alt: "" %>
											<% end %>
                      <% end %>
                      <div class="caption">
                          <h4><%= link_to press_release.title, newsroom_press_release_path(@newsroom, press_release) %></h4>
                          <time class="pull-right" datetime="2014-10-28 20:00"><small><%= time_ago_in_words(press_release.updated_at) %> ago</small></time>
                      </div> <!-- / .caption -->

                      <div class="clearfix"></div>
                  </div> <!-- / .thumbnail -->
              </div> <!-- / .col-sm-6 -->
							<% end %><% end %><% end %>
              
          </div> <!-- / .row -->
					<%= link_to "All Press Releases", newsroom_press_releases_path(@newsroom), class: "btn btn-default pull-right", role: "button" %>
      </div> <!-- / .col-md-8 -->
  </div> <!-- / .container -->
</div> <!-- / .nrRow -->

<div class="nrRow nrWhiteBkg">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <p><%= f.text_area :q_what_you_do, rows: 3, placeholder: "What does #{@newsroom.company_name} do?" %>
								
									<%= f.text_area :q_how_you_achieve, rows: 3, placeholder: "How does #{@newsroom.company_name} achieve that?" %>
								
									<%= f.text_area :q_clients, rows: 3, placeholder: "Describe your typical clients" %>
								
									<%= f.text_area :differentiation, rows: 3, placeholder: "What makes #{@newsroom.company_name} different from its competitors?" %>
							</p>
              <h4>Problem Solved</h4>
              <p><%= f.text_area :problem_solved, placeholder: "Problem solved" %></p>
              <h4>Business Model</h4>
              <p><%= f.text_area :business_model, placeholder: "Business model" %></p>
              <h4>Funding</h4>
							<%= f.fields_for :fundings do |funding| %>
							<%= f.link_to_remove do %><i class="fa fa-close pull-right"></i><% end %>
	              <p><%= funding.select :investment_type, ["Private Investor", "Venture Capital", "Bootstrapped", "No funding", "Other"], class: "form-control" %>: <%= funding.text_field :name %><br>
								<%= funding.date_select :date, order:  [:day, :month, :year]  %> | $<%= funding.number_field :amount, placeholder: 1000 %></p>
							<% end %>
							<%= f.link_to_add :fundings, class: "" do %> + Add funding<% end %>
							
              <h4>Team</h4>
              <div class="row">
								<%= f.fields_for :people do |person| %>
									<div class="col-xs-6">
										<%= f.link_to_remove do %><i class="fa fa-close pull-right"></i><% end %>
                      <p><%= person.text_field :name, placeholder: "Name" %>&nbsp;<%= person.text_field :role, placeholder: "Role at #{@newsroom.company_name}" %><br><%= person.text_field :presentation, placeholder: "Presentation" %></p>
                  </div>
								<% end %>
								<%= f.link_to_add :people, class: "" do %> + Add team member<% end %>
              </div> <!-- / .row -->
          </div> <!-- / .col-md-8 -->
      </div> <!-- /.row -->
  </div> <!-- / .container -->
</div> <!-- / .nrRow -->

<% end %><% end %>