
<% if current_newsroom != nil && current_newsroom == @newsroom %>

<%= nested_form_for(@newsroom) do |f| %>
  <% if @newsroom.errors.any? %>
      <h2><%= pluralize(@newsroom.errors.count, "error") %> prohibited this newsroom from being saved:</h2>
      <ul>
      <% @newsroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  <% end %>

		<!-- <ol class="breadcrumb">
<li><a href="#">Owegoo</a></li>
<li class="active">Owegoo Newsroom</li>
</ol> -->
<div class="nrRow nrHeader">

	<div class="container">
		<div class="row">
			<div class="col-sm-6" id="nrCenterBox">
				<%= image_tag @newsroom.logo.url(:medium), class: "img-responsive nrCenterItem" %><br>
				<%= f.label :logo, "Upload new logo" %><br>
				<%= f.file_field :logo %>
			</div>
			<div class="col-sm-6">
				<h3 class="omnes"><%= f.text_field :company_name, class: "form-control", placeholder: "Enter your company name"  %></h3>
				<p>founded in <%= f.date_select :founded, order: [:month, :year] %></p>
				<p>
					<%= f.text_field :website, class: "form-control", id: "exampleInputEmail1", placeholder: "Enter website address"  %>

				</p>
				<p>
					<div class="form-group">
						<div class="input-group">
						<div class="input-group-addon">
							<%= image_tag "icons/twitter.svg", class: "nrTwitter" %>
						</div>
							<%= f.text_field :twitter, class: "form-control", id: "exampleInputEmail1", placeholder: "@twitter_username"  %>
						</div>
					</div>
				</p>
				<p>
					<div class="form-group">
						<div class="input-group">
						<div class="input-group-addon">
							<span class="nrContactIcons glyphicon glyphicon-envelope"></span>
						</div>
					 <%= f.text_field :press_email, class: "form-control", id: "exampleInputEmail1", placeholder: "Press contact email address" %>
 						</div>
 					</div>
				 </p>
				<p>
					<div class="form-group">
						<div class="input-group">
						<div class="input-group-addon">
							<span class="nrContactIcons glyphicon glyphicon-earphone"></span>
						</div>
					 <%= f.text_field :press_phone, class: "form-control", id: "exampleInputEmail1", placeholder: "Press contact phone number"  %>
						</div>
					</div>
				 </p>
				<p>
					<div class="form-group">
						<div class="input-group">
						<div class="input-group-addon">
							<span class="nrContactIcons glyphicon glyphicon-map-marker"></span>
						</div>
					 <%= f.text_field :location, class: "form-control", id: "exampleInputEmail1", placeholder: "Main location"  %>
					</div>
				</div>
				 </p>
			</div>
		</div>
	</div>
</div>

<div class="nrRow nrReleases">
	<div class="container">
		<h1 class="omnes">Latest Press Releases</h1><br>
		<% @newsroom.company_launches.each do |company_launch| %>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 nrRelease">
					<div class="panel">
						<%= link_to newsroom_company_launch_path(@newsroom, company_launch), title: "Delete" , method: :delete, data: { confirm: "Are you sure that you want to permanently delete this press release?" } do %>
							<span class="glyphicon glyphicon-remove pull-right">
						<% end %>

						<%= link_to edit_newsroom_company_launch_path(@newsroom, company_launch), title: "Edit"  do %>
							<span class="glyphicon glyphicon-pencil pull-right">
						<% end %>
						
						<%= link_to newsroom_company_launch_path(@newsroom, company_launch), title: "View" do %>
							<span class="glyphicon glyphicon-eye-open pull-right">
						<% end %>
						
						<div class="panel-body">
						<!-- <span class="glyphicon glyphicon-file"></span> -->
						<h6><%= company_launch.updated_at.strftime("%B %d %Y") %></h6>
						<h4 class="omnes"><%= company_launch.newsroom.company_name %> launches <%= company_launch.launch %> </h4>
					</div></div>
					
			</div>
		</div>
		<% end %>
		<%= link_to "See all", newsroom_company_launches_path(@newsroom), class: "btn btn-default omnes round", role: "button" %>
	</div>
</div>

<div class="nrRow nrPitch">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<p>
					<h6>What does <%= @newsroom.company_name %> do?</h6>
					<%= f.text_area :q_what_you_do, maxlength: 250, class: "form-control", id: "exampleInputEmail1", placeholder: "Problem solved"  %>
					<h6>How exactly does <%= @newsroom.company_name %> achieve that?</h6>
					<%= f.text_area :q_how_you_achieve, maxlength: 250, class: "form-control", id: "exampleInputEmail1", placeholder: "Problem solved"  %>
					<h6>How would you describe <%= @newsroom.company_name.possessive %> typical clients?</h6>
					<%= f.text_area :q_clients, maxlength: 250, class: "form-control", id: "exampleInputEmail1", placeholder: "Problem solved"  %>
					<h6>How does <%= @newsroom.company_name %> differ from its competitors?</h6>
					<%= f.text_area :differentiation, maxlength: 250, class: "form-control", id: "exampleInputEmail1", placeholder: "Problem solved"  %>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="opacityBkg">
	<div class="nrRow nrSolution">
		<div class="container">
			<div class="row">
				<h1 class="omnes">Problem Solved</h1>
				<div class="col-sm-8 col-sm-offset-2">
				<p><%= f.text_area :problem_solved, maxlength: 250, class: "form-control", id: "exampleInputEmail1", placeholder: "Problem solved"  %></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="nrRow nrModel">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
			<h1 class="omnes">Business Model</h1>
			<p><%= f.text_area :business_model, class: "form-control", id: "exampleInputEmail1", placeholder: "Business Model"  %></p>
		</div>
		</div>
	</div>
</div>

<div class="nrRow nrPeople">
	<div class="container">
		<div class="row">
			<h1 class="omnes">People</h1>
			<%= f.fields_for :people, role: "form" do |person| %>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<%= person.link_to_remove do %><span class="glyphicon glyphicon-remove pull-right" title="Remove"></span><% end %><br>
						<div class="form-group">
					
					<%= person.text_field :name, class: "form-control", placeholder: "Name"  %><br>
					Founder <%= person.check_box :founder %>
					<%= person.text_field :role, class: "form-control", placeholder: "Role"  %><br>
					<%= person.text_area :presentation, class: "form-control", placeholder: "Presentation"  %><br>
							</div>
						</div>
					</div>	
					<% end %>
				<%= f.link_to_add :people do %><i class="glyphicon glyphicon-plus"></i> Add New Person<% end %>
			</div>
	</div>
</div>

<div class="nrRow nrFunding">
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
		<h1 class="omnes">Funding</h1>
		<%= f.fields_for :fundings do |funding| %>
		<hr>
		<%= funding.link_to_remove do %><span class="glyphicon glyphicon-remove pull-right" title="Remove"></span><% end %><br>
		<p><%= funding.select :investment_type, ["Private Investor", "Venture Capital", "Bootstrapped", "No funding", "Other"], class: "form-control", id: "exampleInputEmail1", placeholder: "Name"  %></p>
		<p><strong><%= funding.text_field :name, class: "form-control", id: "exampleInputEmail1", placeholder: "Name"  %></strong> <%= funding.date_select :date, class: "form-control"  %>
			<div class="form-group">
				<div class="input-group">
				<div class="input-group-addon">
					$
				</div>
			<%= funding.number_field :amount, class: "form-control", placeholder: "Amount"  %>
		</div>
	</div>
</p>
	<% end %>
	<%= f.link_to_add :fundings do %><i class="glyphicon glyphicon-plus"></i> Add funding<% end %>
	
	</div>
	
</div>
</div>
</div>

<div class="nrRow nrFiles">
<div class="container">
	<div class="row">
		<h1 class="omnes">Files & Links</h1>
<% @newsroom.company_launches(4).reverse.each do |company_launch| %>		
	<% unless company_launch.link1.blank? %>
		<div class="col-sm-4">
			<div class="thumbnail">
				<div class="embed-responsive embed-responsive-16by9">
					<% if company_launch.link1.include? "youtube.com" %>
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= company_launch.link1.gsub(/.*v=/, '') %>" allowfullscreen></iframe>	
					<% elsif company_launch.link1.include? "vimeo.com" %>
					<iframe src="//player.vimeo.com/video/<%= company_launch.link2.gsub(/.*com\//, '') %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<% end %>
				</div>
				<div class="caption">
					<p><small><%= link_to company_launch.caption_link1, company_launch.link1 %></small></p>
				</div>
			</div>
		</div>
	<% end %>	
	
	<% unless company_launch.link2.blank? %>
		<div class="col-sm-4">
			<div class="thumbnail">
				<div class="embed-responsive embed-responsive-16by9">
					<% if company_launch.link2.include? "youtube.com" %>
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= company_launch.link2.gsub(/.*v=/, '') %>" allowfullscreen></iframe>	
					<% elsif company_launch.link2.include? "vimeo.com" %>
					<iframe src="//player.vimeo.com/video/<%= company_launch.link2.gsub(/.*com\//, '') %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<% end %>
				</div>
				<div class="caption">
					<p><small><%= link_to company_launch.caption_link2, company_launch.link2 %></small></p>
				</div>
			</div>
		</div>
	<% end %>
	
		
		<% unless company_launch.file1.blank? %>
		<div class="col-sm-4">
			<div class="thumbnail">
				<%= image_tag company_launch.file1.url(:medium), class: "img-responsive", alt:"Responsive image" %>
				<div class="caption">
					<p><small><%= company_launch.caption_file1 %></small></p>
				</div>
			</div>
	</div>
	<% end %>
	
		<% unless company_launch.file2.blank? %>
		<div class="col-sm-4">
			<div class="thumbnail">
				<%= image_tag company_launch.file2.url(:medium), class: "img-responsive", alt:"Responsive image" %>
				<div class="caption">
					<p><small><%= company_launch.caption_file2 %></small></p>
				</div>
			</div>
	</div>
	<% end %>
	
		<% unless company_launch.file3.blank? %>
		<div class="col-sm-4">
			<div class="thumbnail">
				<%= image_tag company_launch.file3.url(:medium), class: "img-responsive", alt:"Responsive image" %>
				<div class="caption">
					<p><small><%= company_launch.caption_file3 %></small></p>
				</div>
			</div>
	</div>
	<% end %>
	
<% end %>
</div>
</div>
</div>

<%= f.submit "Save Changes", class: "btn btn-success omnes round", style: "position: fixed; bottom: 15px; right: 15px; z-index: 10000", role: "button" %>


<% end %>
<% end %>
