
<%= devise_error_messages! %>

<div id="indexBkg">
    <!-- <div class="alert alert-danger noticeFade" role="alert">Wrong email or password.</div> -->
    <%= image_tag "icons/diy-pr.png", alt: "Do-it-yourself Press Releases", class: "hidden-xs", id: "diyLogo" %>
    <div id="indexText" class="text-center">
        <h1 class="text-center">Press Releases have never been this easy</h1>
        <br>
        <a href="#video"><button class="btn btn-default btn-lg">Learn more</button></a>&nbsp;
				<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg", data: { toggle: "modal", target: "#signUp" } %>
    </div>
    <div class="scrollDown"><a href="#video"><i class="fa fa-chevron-down fa-2x"></i></a></div>
</div> <!-- / #indexBkg -->

<a id="video"></a>

<div class="container-fluid indexSplash">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Press Releases simplified</h2>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail">
													<%= image_tag "icons/creation.svg", alt: "creation" %>
                            <div class="caption">
                                <h3 class="text-center">Creation</h3>
                                <p class="text-center">Create your press release <em>within 20 minutes</em>! Our user friendly templates walk you through the process.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <%= image_tag "icons/hosting.svg", alt: "hosting" %>
                            <div class="caption">
                                <h3 class="text-center">Hosting</h3>
                                <p class="text-center">NewsHubby automatically collects all of your press material into your own <em>public newsroom.</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
													<%= image_tag "icons/distribution.svg", alt: "distribution" %>
                            <div class="caption">
                                <h3 class="text-center">Distribution</h3>
                                <p class="text-center">Choose the option of releasing your press release via NewsHubby's <em>global distribution network</em>.</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- -->
            </div> <!-- / .col-lg-7 -->
        </div> <!-- .row -->
    </div> <!-- /.container -->
</div> <!-- /.indexSplash -->

<div class="container">
    <h2 class="text-center">Latest Press Releases</h2>
		
		<% @press_releases[0..3].each do |press_release| %>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <%= link_to newsroom_press_release_path(press_release.newsroom, press_release) do %>
                <div class="thumbLogoBkg">
                    <span class="helper"></span><%= image_tag press_release.newsroom.logo.url(:thumb), class: "thumbLogo", alt: "" %>
                </div>
							<% unless press_release.uploads.first.nil? %>
								<% if press_release.uploads.first.file.blank? %>
								<!-- FIXA BROKEN LINK-BILD! -->
									<%= image_tag "#", class: "thumbImg", alt: "" %>
								<% else %>
                	<%= image_tag press_release.uploads.first.file.url(:medium), class: "thumbImg", alt: "" %>
            <% end %><% end %><% end %>
            <div class="caption">
                <%= link_to newsroom_press_release_path(press_release.newsroom, press_release) do %><h4><%= press_release.title %></h4><% end %>
                <time class="pull-left" datetime="2014-10-28 20:00"><small><%= time_ago_in_words(press_release.created_at) %></small></time>
                <%= link_to press_release.newsroom do %><p class="text-muted pull-right"><small><em><i class="fa fa-home fa-fw"></i>&nbsp;Newsroom</em></small></p><% end %>
            </div> <!-- / .caption -->
            
            <div class="clearfix"></div>
        </div> <!-- / .thumbnail -->
    </div> <!-- / .col-sm-6 -->
		<% end %>
		<%= link_to "All Press Releases", pressreleases_path, class: "btn btn-default pull-right", role: "button" %>
</div> <!-- / .container -->

<script>

$(document).ready(function () {

    /* Scrolla till anchors */
    var $root = $('html, body');
    $('a').click(function () {
        $root.animate({
            scrollTop: $($.attr(this, 'href')).offset().top - 50
        }, 500);
        return false;
    });

    if(! /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        /* Fade in navbar*/
        var fadeStart = 100 // 100px scroll or less will equiv to 0 opacity
        ,fadeUntil = 200 // 100px scroll or more will equiv to 1 opacity
        ,fading = $('.transparentNavbar');

        $(window).bind('scroll', function () {
            var offset = $(document).scrollTop(), opacity = 0;
            if (offset <= fadeStart) {
                opacity = 0;
            } else if (offset <= fadeUntil) {
                opacity = (offset - fadeStart) / (fadeUntil - fadeStart);
            } else if (offset > fadeUntil) {
                opacity = 1;
            }
            fading.css('background-color', 'rgba(248,248,248,' + opacity + ')');
        });

        var arrow = $('.scrollDown');

        $(window).bind('scroll', function () {
            var offset = $(document).scrollTop(), opacity = 1;
            if (offset <= fadeStart) {
                opacity = 1;
            } else if (offset <= fadeUntil) {
                opacity = 1-((offset - fadeStart) / (fadeUntil - fadeStart));
            } else if (offset > fadeUntil) {
                opacity = 0;
            }
            arrow.css('opacity', opacity);
        });
    }

});

/* $('#indexTab a').click(function (e) {
	e.preventDefault()
	$(this).tab('show')
}) */
	
</script>