<div class="shortPage">
	<div class="floatingBkg" id="penAndPaper"></div>
	
<%= render :layout => "form" do |f| %>

<div class="container navMargin">

   <div>
       <div class="row">
           <div class="col-sm-6 col-sm-offset-3 hubertBasic">
               <div class="panel panel-body">
								 <h6 class="text-muted">Step 7 of 11</h6>
	                        <h4>How does <strong><%= @newsroom.company_name %></strong> differ from its competitors?</h4>
												<% if @newsroom.differentiation.blank? %>
	                     		<%= f.text_area :differentiation, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;", value: "The difference between #{@newsroom.company_name} and its competitors is " %>
												<% else %>
													<%= f.text_area :differentiation, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %>
												<% end %>
												
									<br>
	                <p>
	                    <span class="text-primary"><strong>Example: </strong></span>The difference between NewsHubby and its competitors is that competitors primarily focus on distribution or manually writing press releases. NewsHubby has created a tool that actually helps the client to automatically generate a customized press release – a DIY tool for press releases.
                   </p>
	            </div> <!-- / .col-xs-12 -->
	        </div> <!-- / .row -->
	    </div> <!-- / .container-fluid -->
	</div> <!-- / .question -->
		
		<%= render "submit", f: f %>

</div> <!-- / .shortPage -->

<% end %>

</div>

<script>
	mixpanel.track("Intro: Differentiation");
	mixpanel.identify("<%= current_newsroom.email unless current_newsroom.blank? %>");
	mixpanel.people.set({
	   	"$email": "<%= current_newsroom.email unless current_newsroom.blank? %>",
			"$name": "<%= current_newsroom.company_name unless current_newsroom.blank? %>"
	});
</script>
