<div class="shortPage">
	<div class="floatingBkg" id="penAndPaper"></div>
	
<%= render :layout => "form" do |f| %>

    <div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
							<h4>How is <strong><%= @newsroom.company_name %></strong> funded?</h4>
                <%= f.fields_for :fundings do |funding| %>
								<div class="panel panel-body">
		              <div class="form-group">
										<%= funding.link_to_remove do %><i class="fa fa-close fa-lg pull-right"></i><% end %>
									</div>
              
									<div class="form-group">
										<%= funding.label :investment_type %><br>
										<%= funding.select :investment_type, ["Private Investor", "Venture Capital", "Bootstrapped", "No funding", "Other"], class: "form-control", placeholder: "Name"  %>
									</div>
									
									<div class="form-group">
										<%= funding.label :name, "Investor's name" %><br>
										<%= funding.text_field :name, class: "form-control", placeholder: "Name"  %> 
									</div>
									
									<div class="form-group">
										<%= funding.label :date, "Date when investment was made" %><br>
										<%= funding.date_select :date, start_year: Date.today.year-10, end_year: Date.today.year+1, class: "form-control"  %>
									</div>
									
									<div class="form-group">
										<%= funding.label :amount, "Invested amount in USD" %><br>
										
										<div class="input-group">
											<div class="input-group-addon">$</div>
										<%= funding.number_field :amount, class: "form-control", placeholder: "190000"  %>
											</div>
										</div>
								
			        </div> <!-- / .col-xs-12 -->
								<% end %>
								<%= f.link_to_add :fundings do %><p class="text-center"> + Add funding</p><% end %>
		        </div> <!-- / .row -->
		    </div> <!-- / .container-fluid -->
		</div> <!-- / .question -->
		
		<%= render "submit", f: f %>

</div> <!-- / .shortPage -->

<% end %>

</div>