<% title "NewsHubby Introduction: How does #{@newsroom.company_name} achieve this?" %>

<div class="shortPage">
	<div class="floatingBkg" id="penAndPaper"></div>
	
<%= render :layout => "form" do |f| %>

<div class="container navMargin">

   <div>
       <div class="row">
           <div class="col-sm-6 col-sm-offset-3 hubertBasic">
               <div class="panel panel-body">
								 <h6 class="text-muted pull-right">Step 4 of 4</h6>
	                        <h4>How exactly does <strong><%= @newsroom.company_name %></strong> achieve this?</h4>
												<% if @newsroom.q_how_you_achieve.blank? %>
	                      	<%= f.text_area :q_how_you_achieve, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;", value: "The company achieves this " %>
												<% else %>
													<%= f.text_area :q_how_you_achieve, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %>
												<% end %>
								<br>
                <p>
                    <span class="text-primary"><strong>Example: </strong></span>The company achieves this through automatic online interviews. Once a client has answered a few questions, a press release is generated and is ready to be electronically sent to media outlets worldwide.
                 </p>
	            </div> <!-- / .col-xs-12 -->
	        </div> <!-- / .row -->
	    </div> <!-- / .container-fluid -->
	</div> <!-- / .question -->
		
		<%= render "submit", f: f %>

</div> <!-- / .shortPage -->



<% end %>

</div>

<script>
	mixpanel.track("Intro: How");
	mixpanel.identify("<%= current_newsroom.email unless current_newsroom.blank? %>");
	mixpanel.people.set({
	   	"$email": "<%= current_newsroom.email unless current_newsroom.blank? %>",
			"$name": "<%= current_newsroom.company_name unless current_newsroom.blank? %>"
	});
</script>
