<div class="shortPage">
	<div class="floatingBkg" id="penAndPaper"></div>
	
<%= render :layout => "form" do |f| %>

<div class="container navMargin">

    <div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
							<h4><% unless @newsroom.company_name.blank? %>Add <strong><%= @newsroom.company_name.possessive %></strong><% end %> key people</h4>
                <%= f.fields_for :people do |person| %>
								<div class="panel panel-body">
		                        <%= person.link_to_remove do %><i class="fa fa-close fa-lg pull-right"></i><% end %>
														<br><br>
                        		<div class="form-group">
															<%= person.label :name, "First & last name" %>
															<%= person.text_field :name, class: "form-control", placeholder: "Jane Doe" %>
														</div>
														<div class="form-group">
															<%= person.label :founder, "Is this person a founder?" %><br>
															<label class="radio-inline"><%= person.radio_button :founder, true %>Yes</label> <label class="radio-inline"><%= person.radio_button :founder, false %> No</label>
														</div>
														<div class="form-group">
															<%= person.label :role, "Position at #{@newsroom.company_name}" %>
															<%= person.text_field :role, class: "form-control", placeholder: "Production Manager"  %>
														</div>
														<div class="form-group">
															<%= person.label :presentation, "Briefly introduce the person's skills and personality" %>
															<%= person.text_area :presentation, class: "form-control" %>
														</div>
												
										
		            </div> <!-- / .col-xs-12 -->
								<% end %>
								<%= f.link_to_add :people do %><p class="text-center"> + Add person</p><% end %>
		        </div> <!-- / .row -->
		    </div> <!-- / .container-fluid -->
		</div> <!-- / .question -->
    
		
		<%= render "submit", f: f %>

</div> <!-- / .shortPage -->



<% end %>

</div>

<script>
	mixpanel.track("Intro: People");
	mixpanel.identify("<%= current_newsroom.email unless current_newsroom.blank? %>");
	mixpanel.people.set({
	   	"$email": "<%= current_newsroom.email unless current_newsroom.blank? %>",
			"$name": "<%= current_newsroom.company_name unless current_newsroom.blank? %>"
	});
</script>
