<div class="shortPage">
	<div class="floatingBkg" id="penAndPaper"></div>
	
<%= render :layout => "form" do |f| %>

<div class="container navMargin">

   <div>
       <div class="row">
           <div class="col-sm-6 col-sm-offset-3 hubertBasic">
               <div class="panel panel-body">
								 <h6 class="text-muted">Step 3 of 11</h6>
	                        <h4>What does <strong><%= @newsroom.company_name %></strong> do?</h4>
												<% if @newsroom.q_what_you_do.blank? %>
													<%= f.text_area :q_what_you_do, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;", value: "#{@newsroom.company_name} " %>
												<% else %>
													<%= f.text_area :q_what_you_do, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %>
												<% end %>
												<br>
				                <p>
				                 <span class="text-primary"><strong>Example: </strong></span>NewsHubby is offering a DIY press release tool for tech companies that want to reach media worldwide and get the viral spread.
                       </p>
	            </div> <!-- / .col-xs-12 -->
	        </div> <!-- / .row -->
	    </div> <!-- / .container-fluid -->
	</div> <!-- / .question -->
		
		<%= render "submit", f: f %>

</div> <!-- / .shortPage -->



<% end %>

</div>

