<div class="container">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
	<%= f.hidden_field :reset_password_token %>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 whiteBox">
			<form role="form">
				<div class="form-group">
					<h3 class="omnes text-center">Reset password</h3>
					<%= f.password_field :password, autocomplete: "off", autofocus: true, class: "form-control", id: "passRecoveryEmail", placeholder: "New password" %><br>
					<%= f.password_field :password_confirmation, autocomplete: "off",  autofocus: true, class: "form-control", id: "passRecoveryEmail", placeholder: "Confirm new password" %>
				</div>
				<%= f.submit "Change password", class: "btn btn-primary omnes btn-block" %>
				<br><br>
				<small><%= render "devise/shared/links" %></small>
				<br><br>
		</div>
	</div>
</div>
<% end %>
