<% title "About NewsHubby" %>


<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<%= image_tag "newshubby_logotype.svg", width: "95%", class: "center-block" %>
			<br>
		</div>
		<br>
	</div><!-- / .row -->
	<div class="row">
		<div class="container aboutNH text-center">
			<h3>What we do</h3>
			<div class="col-sm-6 col-sm-offset-3">
				<p>NewsHubby walks you through written Q and A interviews that results in auto generated press releases, that are both well formatted and concise. With NewsHubby, you can have a continual stream of relevant new content without having to hire professional writers and engage a PR firm.</p><br>
			</div>
		</div>
	</div><!-- / .row -->
</div> <!-- / .container-fluid -->
	<div class="container-fluid fullRow">
		<h3 class="text-center">Contact NewsHubby</h3>
		<div class="col-sm-4 col-sm-offset-4">
			<%= form_for @contact do |f| %>
				<div class="form-group">
					<%= f.text_field :name, class: "form-control", id: "sender", placeholder: "Name" %>
				</div>
				<div class="form-group">
					<%= f.text_field :email, class: "form-control", id: "sender", placeholder: "Email" %>
				</div>
				<div class="form-group">
					<%= f.text_area :message, class: "form-control", rows: 5, placeholder: "Message" %>
				</div>
					<%= f.submit "Send", class: "btn btn-success center-block" %>
				<% end %>
			<br>
			<p class="text-center"><%= mail_to "hello@newshubby.com" %></p>
		</div>
	</div>
<div class="container aboutNH aboutTeam">
	<div class="row text-center">
		<br>
		<h3>The Team</h3>
		<div class="col-sm-3">
			<div class="panel">
				<%= image_tag "about/ceo.jpg", class: "img-responsive center-block" %>
				<div class="panel-body">
					<h4>Alexandra Bylund</h4>
					<h6>Founder &amp; CEO</h6>
					<p>Mother of two, podcast lover and communication nerd that gets her best ideas while running.</p>
					<a href="mailto:alexandra@newshubby.com">
						<span class="glyphicon glyphicon-envelope"></span>
					</a>
					&emsp;
					<%= link_to "http://twitter.com/AlexandraBylund", target: "_blank" do %>
						<%= image_tag "icons/twitter.svg", class: "aboutSocialIcon" %>
					<% end %>
					&emsp;
					<%= link_to "http://se.linkedin.com/in/alexandrabylund/sv", target: "_blank" do %>
						<%= image_tag "icons/in.svg", class: "aboutSocialIcon" %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel">
				<%= image_tag "about/backend.jpg", class: "img-responsive center-block" %>
				<div class="panel-body">
					<h4>Robert Knutsson</h4>
					<h6>CTO & Back-end Developer</h6>
					<p>Economics PhD dropout, free market fundamentalist and aspiring polymath.</p>
					<a href="mailto:robert@newshubby.com">	
						<span class="glyphicon glyphicon-envelope"></span>
					</a>
					&emsp;
					<%= link_to "http://twitter.com/viljavarasto", target: "_blank" do %>
						<%= image_tag "icons/twitter.svg", class: "aboutSocialIcon" %>
					<% end %>
					&emsp;
					<%= link_to "http://se.linkedin.com/in/robertknutsson/sv", target: "_blank" do %>
						<%= image_tag "icons/in.svg", class: "aboutSocialIcon" %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel">
				<%= image_tag "about/frontend.jpg", class: "img-responsive center-block" %>
				<div class="panel-body">
					<h4>Roland Johansson</h4>
					<h6>Front-end &amp; Designer</h6>
					<p>Former sound engineer/music producer, and wannabe multi-instrumentalist.</p>
					<a href="mailto:roland@newshubby.com">
						<span class="glyphicon glyphicon-envelope"></span>
					</a>
					&emsp;
					<%= link_to "http://twitter.com/Ro1andJohansson", target: "_blank" do %>
						<%= image_tag "icons/twitter.svg", class: "aboutSocialIcon" %>
					<% end %>
					&emsp;
					<%= link_to "http://se.linkedin.com/in/johanssonroland/", target: "_blank" do %>
						<%= image_tag "icons/in.svg", class: "aboutSocialIcon" %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel">
				<%= image_tag "about/pr.jpg", class: "img-responsive center-block" %>
				<div class="panel-body">
					<h4>Anna Wittzell</h4>
					<h6>Marketing &amp; PR-assistant</h6>
					<p>Bachelor's degree student in Graphic Design and professional acrobatic dancer.</p>
					<a href="mailto:anna@newshubby.com">
						<span class="glyphicon glyphicon-envelope"></span>
					</a>
					&emsp;
					<%= link_to "http://twitter.com/AnnaWittzell", target: "_blank" do %>
						<%= image_tag "icons/twitter.svg", class: "aboutSocialIcon" %>
					<% end %>
					&emsp;
					<%= link_to "http://se.linkedin.com/pub/anna-wittzell/62/942/571", target: "_blank" do %>
						<%= image_tag "icons/in.svg", class: "aboutSocialIcon" %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div><!-- / .row -->
</div>
