<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<div class="logon">
				<ul class="nav nav-tabs" role="tablist" id="logonTab">
					<li class="omnes"><a href="#signup" role="tab" data-toggle="tab">Sign up</a></li>
					<li class="active omnes"><a href="#login" role="tab" data-toggle="tab">Login</a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane" id="signup">
						<div class="container-fluid">
							<br>
							<form role="form">
								<div class="form-group">
									<input type="email" class="form-control" id="signUpEmail" placeholder="Email">
								</div>
								<div class="form-group">
									<input type="password" class="form-control" id="signUpPassword1" placeholder="Password">
								</div>
								<div class="form-group">
									<input type="password" class="form-control" id="signUpPassword1" placeholder="Confirm password">
								</div>
								<button type="submit" class="btn btn-primary omnes">Get started</button>
								<div class="checkbox">
									<label>
										<input type="checkbox"><small>I have read and agree to our <a href="#">terms and conditions</small></a>.
									</label>
								</div>
							</form>
						</div>
					</div>
					<div class="tab-pane active" id="login">
						<div class="container-fluid">
							<br>						
							<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>						
								<div class="form-group">
									<%= f.email_field :email, autofocus: true, class: "form-control", id: "LoginEmail", placeholder: "Email" %>
								</div>
								<div class="form-group">
							    <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "LoginPassword1", placeholder: "Password" %></div>									

								<%= f.submit "Login", class: "btn btn-primary omnes" %>
								<br><br>
								<small><%= render "devise/shared/links" %></small>
								<br><br>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>