<% title "NewsHubby | Pricing" %>

<div class="shortPage">
            <div class="container">
                <div class="ppContainer">
                    <table>
                        <tr>
                            <th></th>
                            <th id="freemium">Free</th>
                            <th id="premium">Premium</th>
                        </tr>
                        <tr>
                            <td>Cools stuff</td>
                            <td></td>
                            <td><i class="fa fa-check fa-lg"></i></td>
                        </tr>
                        <tr>
                            <td>More cool stuff</td>
                            <td><i class="fa fa-check fa-lg"></i></td>
                            <td><i class="fa fa-check fa-lg"></i></td>
                        </tr>
                        <tr>
                            <td>Even more cool stuff</td>
                            <td><i class="fa fa-check fa-lg"></i></td>
                            <td><i class="fa fa-check fa-lg"></i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button class="btn btn-success">Choose</button></td>
                            <td><button class="btn btn-success">Choose</button></td>
                        </tr>
                    </table>
                </div>
<br><br>

<div class="pull-right">
<%= nested_form_for @newsroom do |f| %>
  <% if @newsroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsroom.errors.count, "error") %> prohibited this showroom from being saved:</h2>

      <ul>
      <% @newsroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
	<% end %>
		
			<%= f.text_field :code, rows: 6, id: "textarea", max: "20", placeholder: "Insert Beta Code" do %> <% end %>
			<%= f.submit "Submit", class: "btn btn-success" %>
			
<% end%>
</div>

</div>
<div class="push"></div>
</div>