
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <%= f.link_to_remove do %><i class="fa fa-close pull-right"></i><% end %>
                    <i class="fa fa-question-circle fa-lg intHelp pull-right hidden-xs text-primary hints" data-toggle="tooltip" data-placement="left" title="Toggle help"></i>
                </div> <!-- / .panel-heading -->
                <div class="panel-body">
									<%= f.label :caption, "" %><br>
									<%= f.text_field :caption, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %><br>
									<%= f.label :link %><br>
									<%= f.text_field :link, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;", placeholder: "http://" %>
								</div> <!-- / .panel-body -->
            </div> <!-- / .panel -->