<%= f.fields_for :newsroom, @newsroom do |newsroom| %>

<div class="question" id="q1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="question-title"><%= @newsroom.company_name.possessive %> key people</h4>
								<%= newsroom.fields_for :people do |person| %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <%= person.link_to_remove do %><i class="fa fa-close pull-right"></i><% end %>
                    </div> <!-- / .panel-heading -->
                    <div class="panel-body">
                        
												<%= person.text_field :name, class: "form-control", placeholder: "Name" %><br>
												Founder <%= person.check_box :founder, class: "text-left" %>
												<%= person.text_field :role, class: "form-control", placeholder: "Role"  %><br>
												<%= person.text_area :presentation, class: "form-control", placeholder: "Presentation" %><br>
												
                    </div> <!-- / .panel-body -->
                    <div class="panel-footer clearfix">
                        <div class="pull-left" id="textareaFeedback"></div>
                        <!-- <button type="button" class="btn btn-primary pull-right" id="save">Save <i class="fa fa-arrow-right"></i></button> -->
                    </div><!--/ .panel-footer -->
                </div> <!-- / .panel -->
								<% end  %>
								<p class="text-center"><%= newsroom.link_to_add :people, class: "add-new" do %> + Add person<% end %></p>
            </div> <!-- / .col-xs-12 -->
        </div> <!-- / .row -->
    </div> <!-- / .container-fluid -->
</div> <!-- / .question -->

<div class="overlay-message" id="modal1">
		<div class="panel panel-default">
        <div class="panel-body">
            <button type="button" class="close closeModal" id="closeIntHints"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h5>
                <span class="text-primary"><strong>Example: </strong></span>
            </h5>
            <p>
              here goes the example
            </p>
            <br>
            <h5>
                <span class="text-primary"><strong>Remember: </strong></span>
            </h5>
            <p>
             	Here goes the tip
            </p>
        </div> <!-- / .panel-body -->
    </div> <!-- / .panel -->
</div> <!-- / .overlay-message -->

<div class="question" id="q2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-question-circle fa-lg intHelp pull-right hidden-xs text-primary hints" id="3" onClick="reply_click(this.id)" data-toggle="tooltip" data-placement="left" title="Toggle help"></i>
                        <p class="panel-title text-left">What does <%= @newsroom.company_name %> do?</p>
                    </div> <!-- / .panel-heading -->
                    <div class="panel-body">
											<% if @newsroom.q_what_you_do.blank? %>
												<%= newsroom.text_area :q_what_you_do, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;", value: "#{@newsroom.company_name} " %>
											<% else %>
												<%= newsroom.text_area :q_what_you_do, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %>
											<% end %>
                    </div> <!-- / .panel-body -->
                    <div class="panel-footer clearfix">
                        <div class="pull-left" id="textareaFeedback"></div>
                        <!-- <button type="button" class="btn btn-primary pull-right" id="save">Save <i class="fa fa-arrow-right"></i></button> -->
                    </div><!--/ .panel-footer -->
                </div> <!-- / .panel -->
            </div> <!-- / .col-xs-12 -->
        </div> <!-- / .row -->
    </div> <!-- / .container-fluid -->
</div> <!-- / .question -->

<div class="overlay-message" id="modal2">
		<div class="panel panel-default">
        <div class="panel-body">
            <button type="button" class="close closeModal" id="closeIntHints"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h5>
                <span class="text-primary"><strong>Example: </strong></span>
            </h5>
            <p>
							NewsHubby is offering a DIY press release tool for tech companies that want to reach media worldwide and get the viral spread.
            </p>
            <br>
            <h5>
                <span class="text-primary"><strong>Remember: </strong></span>
            </h5>
            <p>
             	What does <%= @newsroom.company_name %> do? Always write in third person, please :) For example, use "<%= @newsroom.company_name %>" instead of “we” or “I”.
            </p>
        </div> <!-- / .panel-body -->
    </div> <!-- / .panel -->
</div> <!-- / .overlay-message -->

<div class="question" id="q3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-question-circle fa-lg intHelp pull-right hidden-xs text-primary hints" data-toggle="tooltip" data-placement="left" title="Toggle help"></i>
                        <p class="panel-title text-left">How exactly does <%= @newsroom.company_name %> achieve this?</p>
                    </div> <!-- / .panel-heading -->
                    <div class="panel-body">
											<% if @newsroom.q_how_you_achieve.blank? %>
                      	<%= newsroom.text_area :q_how_you_achieve, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;", value: "The company achieves this " %>
											<% else %>
												<%= newsroom.text_area :q_how_you_achieve, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %>
											<% end %>
                    </div> <!-- / .panel-body -->
                    <div class="panel-footer clearfix">
                        <div class="pull-left" id="textareaFeedback"></div>
                        <!-- <button type="button" class="btn btn-primary pull-right" id="save">Save <i class="fa fa-arrow-right"></i></button> -->
                    </div><!--/ .panel-footer -->
                </div> <!-- / .panel -->
            </div> <!-- / .col-xs-12 -->
        </div> <!-- / .row -->
    </div> <!-- / .container-fluid -->
</div> <!-- / .question -->

<div class="overlay-message" id="modal3">
		<div class="panel panel-default">
        <div class="panel-body">
            <button type="button" class="close closeModal" id="closeIntHints"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h5>
                <span class="text-primary"><strong>Example: </strong></span>
            </h5>
            <p>
              The company achieves this through automatic online interviews. Once a client has answered a few questions, a press release is generated and is ready to be electronically sent to media outlets worldwide.
            </p>
        </div> <!-- / .panel-body -->
    </div> <!-- / .panel -->
</div> <!-- / .overlay-message -->

<div class="question" id="q4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-question-circle fa-lg intHelp pull-right hidden-xs text-primary hints" data-toggle="tooltip" data-placement="left" title="Toggle help"></i>
                        <p class="panel-title text-left">How would you describe <%= @newsroom.company_name.possessive %> clients?</p>
                    </div> <!-- / .panel-heading -->
                    <div class="panel-body">
											<% if @newsroom.q_clients.blank? %>
                      	<%= newsroom.text_area :q_clients, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;", value: "Typically, #{@newsroom.company_name.possessive} clients are " %>
											<% else %>
												<%= newsroom.text_area :q_clients, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %>
											<% end %>
                    </div> <!-- / .panel-body -->
                    <div class="panel-footer clearfix">
                        <div class="pull-left" id="textareaFeedback"></div>
                        <!-- <button type="button" class="btn btn-primary pull-right" id="save">Save <i class="fa fa-arrow-right"></i></button> -->
                    </div><!--/ .panel-footer -->
                </div> <!-- / .panel -->
            </div> <!-- / .col-xs-12 -->
        </div> <!-- / .row -->
    </div> <!-- / .container-fluid -->
</div> <!-- / .question -->

<div class="overlay-message" id="modal4">
		<div class="panel panel-default">
        <div class="panel-body">
            <button type="button" class="close closeModal" id="closeIntHints"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h5>
                <span class="text-primary"><strong>Example: </strong></span>
            </h5>
            <p>
              Typically, NewsHubby's clients are tech startups and other, bigger tech companies.
            </p>
            <br>
        </div> <!-- / .panel-body -->
    </div> <!-- / .panel -->
</div> <!-- / .overlay-message -->

<div class="question" id="q5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-question-circle fa-lg intHelp pull-right hidden-xs text-primary hints" data-toggle="tooltip" data-placement="left" title="Toggle help"></i>
                        <p class="panel-title text-left">Describe <%= @newsroom.company_name.possessive %> business model, preferably with prices included</p>
                    </div> <!-- / .panel-heading -->
                    <div class="panel-body">
											<%= newsroom.text_area :business_model, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %>
                    </div> <!-- / .panel-body -->
                    <div class="panel-footer clearfix">
                        <div class="pull-left" id="textareaFeedback"></div>
                        <!-- <button type="button" class="btn btn-primary pull-right" id="save">Save <i class="fa fa-arrow-right"></i></button> -->
                    </div><!--/ .panel-footer -->
                </div> <!-- / .panel -->
            </div> <!-- / .col-xs-12 -->
        </div> <!-- / .row -->
    </div> <!-- / .container-fluid -->
</div> <!-- / .question -->

<div class="overlay-message" id="modal5">
		<div class="panel panel-default">
        <div class="panel-body">
            <button type="button" class="close closeModal" id="closeIntHints"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h5>
                <span class="text-primary"><strong>Example: </strong></span>
            </h5>
            <p>
              The business model is a yearly or monthly subscription model, from $47 per month.
            </p>
        </div> <!-- / .panel-body -->
    </div> <!-- / .panel -->
</div> <!-- / .overlay-message -->

<div class="question" id="q6">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-question-circle fa-lg intHelp pull-right hidden-xs text-primary hints" data-toggle="tooltip" data-placement="left" title="Toggle help"></i>
                        <p class="panel-title text-left">How does <%= @newsroom.company_name %> differ from its competitors?</p>
                    </div> <!-- / .panel-heading -->
                    <div class="panel-body">
											<% if @newsroom.q_clients.blank? %>
                     		<%= newsroom.text_area :differentiation, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;", value: "The difference between #{@newsroom.company_name} and its competitors is " %>
											<% else %>
												<%= newsroom.text_area :differentiation, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %>
											<% end %>
                    </div> <!-- / .panel-body -->
                    <div class="panel-footer clearfix">
                        <div class="pull-left" id="textareaFeedback"></div>
                        <!-- <button type="button" class="btn btn-primary pull-right" id="save">Save <i class="fa fa-arrow-right"></i></button> -->
                    </div><!--/ .panel-footer -->
                </div> <!-- / .panel -->
            </div> <!-- / .col-xs-12 -->
        </div> <!-- / .row -->
    </div> <!-- / .container-fluid -->
</div> <!-- / .question -->

<div class="overlay-message" id="modal6">
		<div class="panel panel-default">
        <div class="panel-body">
            <button type="button" class="close closeModal" id="closeIntHints"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h5>
                <span class="text-primary"><strong>Example: </strong></span>
            </h5>
            <p>
							The difference between NewsHubby and its competitors is that competitors primarily focus on distribution or manually writing press releases. NewsHubby has created a tool that actually helps the client to automatically generate a customized press release – a DIY tool for press releases.
            </p>
        </div> <!-- / .panel-body -->
    </div> <!-- / .panel -->
</div> <!-- / .overlay-message -->

<div class="question" id="q7">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-question-circle fa-lg intHelp pull-right hidden-xs text-primary hints" data-toggle="tooltip" data-placement="left" title="Toggle help"></i>
                        <p class="panel-title text-left">Who are <%= @newsroom.company_name.possessive %> competitors?</p>
                    </div> <!-- / .panel-heading -->
                    <div class="panel-body">
                      <%= newsroom.text_area :competitors, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %>
                    </div> <!-- / .panel-body -->
                    <div class="panel-footer clearfix">
                        <div class="pull-left" id="textareaFeedback"></div>
                        <!-- <button type="button" class="btn btn-primary pull-right" id="save">Save <i class="fa fa-arrow-right"></i></button> -->
                    </div><!--/ .panel-footer -->
                </div> <!-- / .panel -->
            </div> <!-- / .col-xs-12 -->
        </div> <!-- / .row -->
    </div> <!-- / .container-fluid -->
</div> <!-- / .question -->

<div class="overlay-message" id="modal7">
		<div class="panel panel-default">
        <div class="panel-body">
            <button type="button" class="close closeModal" id="closeIntHints"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h5>
                <span class="text-primary"><strong>Example: </strong></span>
            </h5>
            <p>
							Pr.co, Pressfriendly
            </p>
        </div> <!-- / .panel-body -->
    </div> <!-- / .panel -->
</div> <!-- / .overlay-message -->

<div class="question" id="q8">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-question-circle fa-lg intHelp pull-right hidden-xs text-primary hints" data-toggle="tooltip" data-placement="left" title="Toggle help"></i>
                        <p class="panel-title text-left">What problem does <%= @newsroom.company_name %> solve?</p>
                    </div> <!-- / .panel-heading -->
                    <div class="panel-body">
                      <%= newsroom.text_area :problem_solved, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %>
                    </div> <!-- / .panel-body -->
                    <div class="panel-footer clearfix">
                        <div class="pull-left" id="textareaFeedback"></div>
                        <!-- <button type="button" class="btn btn-primary pull-right" id="save">Save <i class="fa fa-arrow-right"></i></button> -->
                    </div><!--/ .panel-footer -->
                </div> <!-- / .panel -->
            </div> <!-- / .col-xs-12 -->
        </div> <!-- / .row -->
    </div> <!-- / .container-fluid -->
</div> <!-- / .question -->

<div class="overlay-message" id="modal8">
		<div class="panel panel-default">
        <div class="panel-body">
            <button type="button" class="close closeModal" id="closeIntHints"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h5>
                <span class="text-primary"><strong>Example: </strong></span>
            </h5>
            <p>
              Many companies don't have the time, effort and knowledge about how to create a good press release. NewsHubby wants to help them with that and minimize the distance between the startups and the press.
            </p>
        </div> <!-- / .panel-body -->
    </div> <!-- / .panel -->
</div> <!-- / .overlay-message -->

<div class="question" id="q9">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="question-title">How is <%= @newsroom.company_name %> funded?</h4>
								<%= newsroom.fields_for :fundings do |funding| %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <%= funding.link_to_remove do %><i class="fa fa-close pull-right"></i><% end %>
                    </div> <!-- / .panel-heading -->
                    <div class="panel-body">
                        
												<%= funding.select :investment_type, ["Private Investor", "Venture Capital", "Bootstrapped", "No funding", "Other"], class: "form-control", id: "exampleInputEmail1", placeholder: "Name"  %>
												<%= funding.text_field :name, class: "form-control", id: "exampleInputEmail1", placeholder: "Name"  %></strong> <%= funding.date_select :date, class: "form-control"  %>
																																$
												<%= funding.number_field :amount, class: "form-control", placeholder: "Amount"  %>
												
                    </div> <!-- / .panel-body -->
                    <div class="panel-footer clearfix">
                        <div class="pull-left" id="textareaFeedback"></div>
                        <!-- <button type="button" class="btn btn-primary pull-right" id="save">Save <i class="fa fa-arrow-right"></i></button> -->
                    </div><!--/ .panel-footer -->
                </div> <!-- / .panel -->
								<% end  %>
								<p class="text-center"><%= newsroom.link_to_add :fundings, class: "add-new" do %> + Add funding<% end %></p>
            </div> <!-- / .col-xs-12 -->
        </div> <!-- / .row -->
    </div> <!-- / .container-fluid -->
</div> <!-- / .question -->
<% end %>
