<% if @nr_questions %>
<div class="question" id="q<%= index+11 %>">
<% else %>
<div class="question" id="q<%= index+2 %>">
<% end %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-question-circle fa-lg intHelp pull-right hidden-xs text-primary hints" id="<%= index+10 %>" data-toggle="tooltip" data-placement="left" title="Toggle help"></i>
                        <p class="panel-title text-left"><%= field.question.gsub(/CompanyName/, "#{@newsroom.company_name}").gsub(/CompanyName's/, "#{@newsroom.company_name.possessive}") %></p>
                    </div> <!-- / .panel-heading -->
                    <div class="panel-body">
											<% if field.name.blank? %>
								        <%= press_release.text_area field.name, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;", value: "#{field.prefill} " %>
											<% else %>
								      <%= press_release.text_area field.name, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;", value: "#{field.prefill}" %>
											<% end %>
                    </div> <!-- / .panel-body -->
                    <div class="panel-footer clearfix">
                        <div class="pull-left" id="textareaFeedback"></div>
                        <!-- <button type="button" class="btn btn-primary pull-right" id="save">Save <i class="fa fa-arrow-right"></i></button> -->
                    </div><!--/ .panel-footer -->
                </div> <!-- / .panel -->
            </div> <!-- / .col-xs-12 -->
        </div> <!-- / .row -->
    </div> <!-- / .container-fluid -->
</div> <!-- / .question -->

<% if @nr_questions %>
<div class="overlay-message" id="modal<%= index+11 %>">
<% else %>
<div class="overlay-message" id="modal<%= index+2 %>">
<% end %>
		<div class="panel panel-default">
        <div class="panel-body">
            <button type="button" class="close closeModal" id="closeIntHints"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h5>
                <span class="text-primary"><strong>Example: </strong></span>
            </h5>
            <p>
              <%= simple_format(field.example) %>
            </p>
            <br>
            <h5>
                <span class="text-primary"><strong>Remember: </strong></span>
            </h5>
            <p>
             	<%= simple_format(field.example) %>
            </p>
        </div> <!-- / .panel-body -->
    </div> <!-- / .panel -->
</div> <!-- / .overlay-message -->