<div class="footer text-center hidden-print">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul>
					<!-- <li><small><span class="text-muted">Copyright © 2015 NewsHubby. All rights reserved.</span></small></li> -->
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Pricing", plans_path %></li>
					<li><%= link_to "Blog", "http://blog.newshubby.com/" %></li>
					<li><%= link_to "Terms & Conditions", terms_of_service_path %></li>
					<!-- <li><%= link_to "Good to Know About PR", "#" %></li><!-- Should be "PR Knowledge", "Knowledge Base", "Knowledge Center" -->
					<li><%= link_to "http://www.facebook.com/newshubby", target: "_blank" do %><i class="fa fa-lg fa-facebook"></i><% end %></li>
					<li><%= link_to "http://www.twitter.com/newshubby", target: "_blank" do %><i class="fa fa-lg fa-twitter"></i><% end %></li>
				</ul>
      </div> <!-- /. col-sm-12 -->
  </div> <!-- / .row -->
</div> <!-- / .container -->
</div> <!-- / .footer -->