<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'images/favicon.ico' %>
	
  <title>NewsHubby</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<%= javascript_include_tag "https://js.stripe.com/v2/", 'application', 'data-turbolinks-track' => true %>

	<%= tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY %>

  <%= csrf_meta_tags %>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%= analytics_init if Rails.env.production? %>


</head>

<% if flash[:alert] %>
	<div class="alert alert-danger noticeFade">
		<%= flash[:alert] %>
	</div>
<% end %>

<% if flash[:error] %>
	<div class="alert alert-danger noticeFade">
		<%= flash[:error] %>
	</div>
<% end %>

<% if flash[:notice] %>
	<div class="alert alert-success noticeFade">
		<%= flash[:notice] %>
	</div>
<% end %>

<% if @nhBkg == true %>
<body class="nhBkg">
<% elsif @nrBody == true %>
<body class="nrBody">
<% elsif @plans_body == true %>
<body id="ppBody">
<% elsif @pr_body == true %>
<body id="prBody">
<% elsif @about_body == true %>
<body id="aboutBody">
<% elsif @index_body == true %>
<body id="indexBody">
<% else %>
<body>
<% end %>

<%= render 'layouts/header' unless @disable_header == true %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
