<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || NewsHubby %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	
  <!-- 
	
	<script type="text/javascript" src="https://bridge.paymill.com/"></script>
	
	<script type="text/javascript">
      var PAYMILL_PUBLIC_KEY = '<%= PAYMILL_PUBLIC_KEY %>';
	</script>
	-->
	
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- 
	<script type="text/javascript" src="//use.typekit.net/lbn2smo.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->
	<%= analytics_init if Rails.env.production? %>

</head>

<% if flash[:alert] %>
	<div class="alert alert-danger noticeFade">
		<%= flash[:alert] %>
	</div>
<% end %>

<% if flash[:error] %>
	<div class="alert alert-danger noticeFade">
		<%= flash[:error] %>
	</div>
<% end %>

<% if flash[:notice] %>
	<div class="alert alert-success noticeFade">
		<%= flash[:notice] %>
	</div>
<% end %>

<% if @reg_body == true %>
<body>
<% elsif @nrBody == true %>
<body class="nrBody">
<% elsif @plans_body == true %>
<body id="ppBody">
<% elsif @pr_body == true %>
<body id="prBody">
<% elsif @about_body == true %>
<body id="aboutBody">
<% elsif @index_body == true %>
<body id="indexBody">
<% else %>
<body class="intBody shortPage">
<% end %>

<%= render 'layouts/header' unless @disable_header == true %>

<%= yield %>

<%= render 'layouts/footer' %>


</body>
</html>
